{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 student-content-title">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <!-- ACCOUNT TAB -->
    <div id="account" class="tabcontent">
        <div class="row">
            <div class="row profile">
                <div class="col-sm-12">
                    <h2>Profile</h2>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src=" {{ student.avatar_student(128) }} ">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                Full Name: <span style="font-weight: 600;">{{ student.student_full_name }}</span> 
                            </p>
                            <p>
                                Email: <span style="font-weight: 600;">{{ student.student_email }}</span> 
                            </p>
                            <p>
                                Phone: <span style="font-weight: 600;">{{ student.student_phone }}</span> 
                            </p>
                            <p>
                                Age: <span style="font-weight: 600;">{{ student.student_age }}</span> 
                            </p>
                            <p>
                                School: <span style="font-weight: 600;">{{ student.student_school }}</span> 
                            </p>
                            <p>
                                Course: <span style="font-weight: 600;">{{ student.student_course }}</span> 
                            </p>
                            {% if student.student_about_me %}
                                <p>
                                    About me: <span style="font-weight: 600;">{{ student.student_about_me }}</span>
                                </p>
                            {% endif %}
                            {% if student.student_last_seen %}
                                <p>
                                    Last seen on: <span style="font-weight: 600;">{{ moment(student.student_last_seen).format('LLL') }}</span>
                                </p>
                            {% endif %}
                            <p>
                                <span style="font-weight: 600;">{{ student.followers.count() }}</span> Followers,
                                <span style="font-weight: 600;">{{ student.followed.count() }}</span> Following
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row update-account">
                <div class="col-sm-12">
                    <h2>Update Account Details</h2>
                    <div class="col-sm-12">
                        <p>
                            Update your student bio information <br>                            
                        </p>
                        <p>
                            <a href=" {{ url_for('student.edit_profile_student', student_full_name=student.student_full_name) }} " class="btn btn-primary">Update Bio</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row two-factor-auth">
                <div class="col-sm-12">
                    <h2>Two-Factor Authentication</h2>
                    <p>
                        Add an extra layer of security to your account by enabling two-factor authentication.
                    </p>
                    {% if not student.two_factor_student_enabled() %}
                        <p>
                            <a href=" {{ url_for('auth.enable_2fa_student', student_full_name=student.student_full_name) }} " class="btn btn-primary">Enable Two-Factor Authentication</a>
                        </p>
                    {% else %}
                        <p>
                            <a href=" {{ url_for('auth.disable_2fa_student', student_full_name=student.student_full_name) }} " class="btn btn-primary">Disable Two-Factor Authentication</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ACCOUNT TAB -->
{% endblock %}