{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 student-content-title">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <!-- ANALYTICS TAB -->
    <div id="analytics" class="tabcontent">
        {% for chapter in course_chapters %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row analytics">
                        <div class="col-sm-5">
                            {% if chapter.chapter.lower() == "chapter 1: hello world" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ total_score_percentage }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 2: flask templates" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved_chapter_2 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ total_score_percentage_chapter_2 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 3: introduction to web forms" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved_chapter_3 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ total_score_percentage_chapter_3 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                        </div>
                        <!-- Analytics Graph -->
                        <div class="col-sm-7 text-center">
                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/demo_graph.png')}}" alt="Demo Graph">
                            <canvas id="myChart" max-width="100%" height="auto"></canvas>
                        </div>
                        <!-- End of Analytics Graph -->
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- General Analyis of course results -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row analytics">
                    <div class="col-sm-5">
                        <h3>General Quiz</h3>
                        <ul>
                            <li>
                                Achievement of Multi-choice Questions: {{ multi_choice_total_score_percentage }}% - 
                                <small>
                                    <a href="http://127.0.0.1:5000/student/web-development/general-multichoice-questions/quiz-1">Improve</a>
                                </small>
                            </li>
                            <li>
                                Achievement of Blank-based Questions: % - 
                                <small>
                                    <a href="#" class="overview-link-disabled">Improve</a>
                                </small>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-7">
                        <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/demo_graph.png')}}" alt="Demo Graph">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ANALYTICS TAB -->
{% endblock %}
{% block chartjs_script %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
{% endblock %}