{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 student-content-title">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <!-- ANALYTICS TAB -->
    <div id="analytics" class="tabcontent">
        {% for chapter in course_chapters %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row analytics">
                        <div class="col-sm-5">
                            {% if chapter.chapter.lower() == "chapter 1: hello world" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1', _anchor='objectives') }}">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ total_score_percentage }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1_quiz_1') }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 2: flask templates" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved_chapter_2 }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1', _anchor='objectives') }}">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ quiz_total_score_percentage }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1_quiz_1') }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 3: introduction to web forms" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Achievement of Lesson Objectives: {{ percentage_achieved }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1', _anchor='objectives') }}">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Achievement of Lesson Quizzes: {{ quiz_total_score_percentage }}% - 
                                                <small>
                                                    <a href="{{ url_for('student.web_development_chapter_1_quiz_1') }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div><hr> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                        </div>
                        <!-- Analytics Graph -->
                        <div class="col-sm-7 text-center">
                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/demo_graph.png')}}" alt="Demo Graph">
                        </div>
                        <!-- End of Analytics Graph -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- END OF ANALYTICS TAB -->
{% endblock %}