{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 student-content-title">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <!-- ANALYTICS TAB -->
    <div id="analytics" class="tabcontent">
        {% for chapter in course_chapters %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row analytics">
                        <div class="col-sm-12">
                            {% if chapter.chapter.lower() == "chapter 1: hello world" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Latest Achievement of Lesson Objectives: {{ percentage_achieved }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Latest Achievement of Lesson Quizzes: {{ total_score_percentage }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7">
                                        <canvas id="chapter1" max-width="100%" height="auto"></canvas>
                                    </div>
                                </div> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 2: flask templates" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Latest Achievement of Lesson Objectives: {{ percentage_achieved_chapter_2 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Latest Achievement of Lesson Quizzes: {{ total_score_percentage_chapter_2 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7">
                                        <canvas id="chapter2" max-width="100%" height="auto"></canvas>
                                    </div>
                                </div> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                            {% if chapter.chapter.lower() == "chapter 3: introduction to web forms" %}
                                <!-- Chapter 1 Analytics -->
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h3>{{ chapter.chapter }}</h3>
                                        <ul>
                                            <li>
                                                Latest Achievement of Lesson Objectives: {{ percentage_achieved_chapter_3 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_link }}#objectives">Improve</a>
                                                </small>
                                            </li>
                                            <li>
                                                Latest Achievement of Lesson Quizzes: {{ total_score_percentage_chapter_3 }}% - 
                                                <small>
                                                    <a href="http://127.0.0.1:5000/student/{{ chapter.chapter_quiz_1_link }}">Improve</a>
                                                </small>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7">
                                        <canvas id="chapter3" max-width="100%" height="auto"></canvas>
                                    </div>
                                </div> 
                                <!-- End of chapter 1 analytics -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- General Analyis of course results -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row analytics">
                    <div class="col-sm-5">
                        <h3>General Quiz</h3>
                        <ul>
                            <li>
                                Latest Achievement of Multi-choice Questions: {{ multi_choice_total_score_percentage }}% - 
                                <small>
                                    <a href="http://127.0.0.1:5000/student/web-development/general-multichoice-questions/quiz-1">Improve</a>
                                </small>
                            </li>
                            <li>
                                Latest Achievement of Blank-based Questions: % - 
                                <small>
                                    <a href="#" class="overview-link-disabled">Improve</a>
                                </small>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-7">
                        <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/demo_graph.png')}}" alt="Demo Graph">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ANALYTICS TAB -->
{% endblock %}

{% block chartjs_script %}
    <script>
        const ctx =$('#chapter1');
        const myChart = new Chart(ctx, {
            data: {
                labels: [
                    {% for label in chapter1_obj_attempts_chart_labels %}
                        'Attempt {{ label }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        type: 'line',
                        label: 'Achievement of Chapter 1 Objectives',
                        data: [
                            {% for data in chapter1_obj_attempts_chart_data %}
                                {{ data }},
                            {% endfor %}
                        ],
                        backgroundColor: ['orange'],
                        borderColor: ['orange'],
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        label: 'Achievement of Chapter 1 Quiz',
                        data: [
                            {
                                {% for score in int_total_score_list_chapter1 %}
                                    {{ score }},
                                {% endfor %}
                            }
                        ],
                        backgroundColor: ['gray'],
                        borderColor: ['gray'],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        const ctx_chapter2 =$('#chapter2');
        const myChart_chapter2 = new Chart(ctx_chapter2, {
            data: {
                labels: [
                    {% for label in obj_attempts_chart_labels_chapter2 %}
                        'Attempt {{ label }}',
                    {% endfor %}
                ],
                datasets: [
                    {
                        type: 'line',
                        label: 'Achievement of Chapter 2 Objectives',
                        data: [
                            {% for data in obj_attempts_chart_data_chapter2 %}
                                {{ data }},
                            {% endfor %}
                        ],
                        backgroundColor: ['purple'],
                        borderColor: ['purple'],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        const ctx_chapter3 =$('#chapter3');
        const myChart_chapter3 = new Chart(ctx_chapter3, {
            type: 'line',
            data: {
                labels: [
                    {% for label in obj_attempts_chart_labels_chapter3 %}
                        'Attempt {{ label }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Achievement of Chapter 3 Objectives',
                    data: [
                        {% for data in obj_attempts_chart_data_chapter3 %}
                            {{ data }},
                        {% endfor %}
                    ],
                    backgroundColor: ['green'],
                    borderColor: ['green'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}