{% extends 'base.html' %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 student-content-title">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <!-- QUIZZES -->
    <div id="live-class" class="tabcontent">
        <div class="row text-center">
            <div class="col-sm-4">
                <!-- Multiple choice questions -->
                <!-- Chapter 1 Card -->
                <div class="card-deck text-center">
                    <div class="card">
                        <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/quiz.svg')}}" alt="Quiz">
                        <div class="card-body">
                            <h2 class="card-title">Multiple Choice Questions</h2><hr>
                            <p class="card-text">
                                You can select your answers by choosing one from the dropdown menu.
                            </p>
                            <a href=" {{ url_for('student.web_development_general_quiz_1', student_full_name=student.student_full_name) }} " class="btn btn-primary">Start Quiz</a>
                        </div>            
                    </div>
                </div>
                <!-- End of chapter 1 Card -->
            </div>
            <div class="col-sm-4">
                <!-- Fill in the blank questions -->
                <!-- Chapter 2 Card -->
                <div class="card-deck text-center">
                    <div class="card">
                        <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/quiz.svg')}}" alt="Quiz">
                        <div class="card-body">
                            <h2 class="card-title">Fill In The Blank</h2><hr>
                            <p class="card-text">
                                You will need to provide your own answers. Your teacher will assess and grade them.
                            </p>
                            <a href=" # " class="btn btn-primary disabled">Start Quiz</a>
                        </div>            
                    </div>
                </div>
                <!-- End of Chapter 2 Card -->
            </div>
            <div class="col-sm-4">
                <!-- Card 3 will go here -->
            </div>
        </div>
    </div>
    <!-- END OF QUIZZES -->
{% endblock %}