/* Body */
body{
    width: 980px;
    font-family: 'Muli', sans-serif;
    background-color: black;
}


/* -------------------- */
/* TYPOGRAPHY */
/* -------------------- */
h1{
    font-size: 40px;
    line-height: 30px;
    color: white;
}