{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block anonymous_app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">
    <div class="col-sm-12 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
    <div class="col-sm-4 my-form">
        {{ wtf.quick_form(form) }}
        <p>
            Forgot password? <a href=" {{ url_for('auth.request_password_reset') }} ">Reset it here</a>!
        </p>
    </div>
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
       <!-- Empty column -->
    </div>
    <div class="col-sm-4">
        <p>
            <a href=" {{ url_for('auth.login') }} " class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Login as Another User
            </a>
        </p>
    </div>
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
</div>
{% endblock %}