{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block anonymous_app_content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
    <div class="col-sm-4 my-form">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
</div>
    {% if current_user.is_authenticated %}
        {% if admin %}
            <div class="row text-center">
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
                <div class="col-sm-4">
                    <p>
                        <a href=" {{ url_for('admin.dashboard_account') }} " class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to Account
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
            </div>
        {% elif teacher %}
            <div class="row text-center">
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
                <div class="col-sm-4">
                    <p>
                        <a href=" {{ url_for('teacher.dashboard_account') }} " class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to Account
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
            </div>
        {% elif student %}
            <div class="row text-center">
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
                <div class="col-sm-4">
                    <p>
                        <a href=" {{ url_for('student.dashboard_enrolled_courses') }} " class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to Enrolled Courses
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
            </div>
        {% elif parent %}
            <div class="row text-center">
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
                <div class="col-sm-4">
                    <p>
                        <a href=" # " class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back to Enrolled Courses
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <!-- Empty columns -->
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row text-center">
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
            <div class="col-sm-4">
                <p>
                    <a href=" {{ url_for('auth.login') }} " class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to Login
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
        </div>
    {% endif %}
{% endblock %}