<table class="table table-striped">
    <tr valign='top'>
        <td width="30px">
            <img src="#">
        </td>
        <td>
            <span class="comment-id">#5</span>
            <span class="comment-author-admin">harry</span>  
            said 2 hours ago:
            <br>
            <div class="comment-body">
                You are amazing!
            </div>
        </td>
    </tr>
    <tr valign='top'>
        <td width="30px">
            <img src="#">
        </td>        
        <td>
            <span class="comment-id">#4</span>
            <span class="comment-author-admin">gitau</span>  
            said 3 hours ago:
            <br>
            <div class="comment-body">
                This is interesting!
            </div>
        </td>       
    </tr>
    <tr valign='top'>
        <td width="30px">
            <img src="#">
        </td>        
        <td>
            <span class="comment-id">#3</span>
            <span class="comment-author-admin">mkay</span>  
            said 4 hours ago:
            <br>
            <div class="comment-body">
                Thank you!
            </div>
        </td>     
    </tr>
</table>