{% extends 'bootstrap/base.html' %}

<!-- Head content will go here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/eLearning.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300&display=swap" rel="stylesheet">

{% endblock %}

<!-- Title Section -->
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Somasoma eLearning
    {% endif %}
{% endblock %}

<!-- Link Styles -->
{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

{% endblock %}

<!-- Navbar Section -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if current_user.is_authenticated %}
                {% if student %}
                    <a class="navbar-brand" href=" {{ url_for('main.dashboard_student') }} ">
                        <img alt="Brand" src="{{ url_for('static', filename = 'images/eLearning.png') }}" width="30" height="30">
                        
                    </a>
                {% elif parent %}
                    <a class="navbar-brand" href=" {{ url_for('main.dashboard_parent') }} ">
                        <img alt="Brand" src="{{ url_for('static', filename = 'images/eLearning.png') }}" width="30" height="30">
                        
                    </a>
                {% elif teacher %}
                    <a class="navbar-brand" href=" {{ url_for('main.dashboard_teacher') }} ">
                        <img alt="Brand" src="{{ url_for('static', filename = 'images/eLearning.png') }}" width="30" height="30">
                        
                    </a>
                {% elif admin %}
                    <a class="navbar-brand" href=" {{ url_for('admin.dashboard_admin') }} ">
                        <img alt="Brand" src="{{ url_for('static', filename = 'images/eLearning.png') }}" width="30" height="30">
                        
                    </a>
                {% else %}
                    <a class="navbar-brand" href=" {{ url_for('main.home') }} ">
                        <img alt="Brand" src="{{ url_for('static', filename = 'images/eLearning.png') }}" width="30" height="30">
                        
                    </a>
                {% endif %}
            {% else %}
                <a class="navbar-brand" href=" {{ url_for('main.home') }} ">
                    somaSoma
                </a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">  
                {% if current_user.is_authenticated %} 
                    {% if student %}
                        <li><a href=" {{ url_for('auth.logout_student') }} ">Logout</a></li> 
                    {% elif parent %}
                        <li><a href=" {{ url_for('auth.logout_parent') }} ">Logout</a></li>
                    {% elif teacher %}
                        <li><a href=" {{ url_for('auth.logout_teacher') }} ">Logout</a></li> 
                    {% elif admin %}
                        <li><a href=" {{ url_for('auth.logout_admin') }} ">Logout</a></li>                  
                    {% else %}
                        <li><a href=" {{ url_for('auth.login') }} ">Logout</a></li> 
                    {% endif %}
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href=" {{ url_for('main.flask_web_deveopment_course') }} ">Web Development</a><br>
                            <!-- <a class="dropdown-item" href=" # ">Python DSA</a><br>
                            <hr>
                            <a class="dropdown-item disabled" href="#">Data Science</a><br>
                            <a class="dropdown-item disabled" href="#">Machine Learning</a> -->
                        </div>
                    </li>
                    <li><a href=" {{ url_for('main.events') }} ">Events</a></li> 
                    <li><a href=" {{ url_for('main.blog') }} ">Blog</a></li> 
                {% endif %}
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Blog Content Goes Here -->
{% block content %}
    <div class="container">   

        {% block app_content %}

        {% endblock %}
    </div>

    <!-- Footer will go here -->
    
{% endblock %}

<!-- Scripts will go here -->
{% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
        <!-- Tabs -->
        <script>
            function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

        <script>
            $(function(){

                $('#defaultOpen').on('click',function() {			        
                    $(this).closest('.list-group').fadeOut('slide',function(){
                        $('.mini-submenu').fadeIn();	
                    });
                    
                });

                $('.mini-submenu').on('click',function(){		
                    $(this).next('.list-group').toggle('slide');
                    $('.mini-submenu').hide();
                })
                });
        </script>
        <!-- End of tab -->

        <!-- Beautiful phone number fields -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
        <!-- 2fa phone number field -->
        <script>
            $("#verification_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#verification_phone").parent().append('<div><input type="tel" id="_verification_phone"></div>');
            $("#_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_verification_phone").intlTelInput("setNumber", $('#verification_phone').val());
            $('#_verification_phone').blur(function() {
                $('#verification_phone').val($('#_verification_phone').intlTelInput("getNumber"));
            });
        </script>
        <!-- parent phone number -->
        <script>
            $("#parent_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#parent_phone").parent().append('<div><input type="tel" id="_parent_verification_phone"></div>');
            $("#_parent_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_parent_verification_phone").intlTelInput("setNumber", $('#parent_phone').val());
            $('#_parent_verification_phone').blur(function() {
                $('#parent_phone').val($('#_parent_verification_phone').intlTelInput("getNumber"));
            });
        </script>
         <!-- student phone number -->
         <script>
            $("#student_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#student_phone").parent().append('<div><input type="tel" id="_student_verification_phone"></div>');
            $("#_student_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_student_verification_phone").intlTelInput("setNumber", $('#student_phone').val());
            $('#_student_verification_phone').blur(function() {
                $('#student_phone').val($('#_student_verification_phone').intlTelInput("getNumber"));
            });
        </script>
        <!-- teacher phone number -->
        <script>
            $("#teacher_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#teacher_phone").parent().append('<div><input type="tel" id="_teacher_verification_phone"></div>');
            $("#_teacher_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_teacher_verification_phone").intlTelInput("setNumber", $('#teacher_phone').val());
            $('#_teacher_verification_phone').blur(function() {
                $('#teacher_phone').val($('#_teacher_verification_phone').intlTelInput("getNumber"));
            });
        </script>
        <!-- admin phone number -->
        <script>
            $("#admin_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#admin_phone").parent().append('<div><input type="tel" id="_admin_verification_phone"></div>');
            $("#_admin_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_admin_verification_phone").intlTelInput("setNumber", $('#admin_phone').val());
            $('#_admin_verification_phone').blur(function() {
                $('#admin_phone').val($('#_admin_verification_phone').intlTelInput("getNumber"));
            });
        </script>

    <!-- End of beautiful phone number fields -->

    <!-- Calendly -->
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        
{% endblock %}