{% extends 'bootstrap/base.html' %}

<!-- Head content will go here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/somasomalogo.png') }}">

{% endblock %}

<!-- Title Section -->
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Somasoma eLearning
    {% endif %}
{% endblock %}

<!-- Link Styles -->
{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">

{% endblock %}

<!-- Navbar Section -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if current_user == parent %}
                <a class="navbar-brand" href=" {{ url_for('parent_dashboard') }} ">somasoma eLearning</a>
            {% elif current_user == student %}
                <a class="navbar-brand" href=" {{ url_for('student_dashboard') }} ">somasoma eLearning</a>
            {% else %}
                <a class="navbar-brand" href=" # ">somasoma eLearning</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">  
                {% if current_user.is_authenticated %} 
                    <li><a href=" {{ url_for('logout') }} ">Logout</a></li>                  
                {% else %}
                    <li><a href=" {{ url_for('login') }} ">Login</a></li>
                {% endif %}
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Blog Content Goes Here -->
{% block content %}
    <div class="container">   
        {% with messages = get_flashed_messages() %}              
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}

        {% endblock %}
    </div>

    <!-- Footer will go here -->
    
{% endblock %}

<!-- Scripts will go here -->
{% block scripts %}
        {{ super() }}
        
{% endblock %}