{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">

    <!-- Start of sidebar -->
    <div class="col-sm-2 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'enrolled-courses')" id="defaultOpen">
                Enrolled Courses
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'live-class')">
                Live Class
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'community')">
                Community
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'account')">
                Account
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'analytics')">
                Analytics
            </a>
        </div>   
    </div>
    <!-- End of sidebar -->
    
    <!-- Start of tab contents -->
    <div class="col-sm-10 ">

        <!-- ENROLLED COURSE TAB -->
        <div id="enrolled-courses" class="tabcontent">
            <div class="row">
                <h1>Your Courses</h1>
                <div class="col-sm-6">
                    <!-- Enrolled Courses Card -->
                    <div class="card-deck text-center">
                        <div class="card">
                            <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/teacher2.svg')}}" alt="Parent">
                            <div class="card-body">
                                <h4 class="card-title">Web Development</h4><hr>
                                <p class="card-text">
                                    You will learn how to build a website using HTML, CSS, and JavaScript.
                                    Learn best practices for building responsive websites.
                                </p>
                                <a href=" {{ url_for('web_development_overview') }} " class="btn btn-primary">Start Lesson</a>
                                <a href=" # " class="btn btn-primary">Quizzes</a>
                            </div>            
                        </div>
                    </div>
                    <!-- End of Enrolled Courses Card -->
                </div>
                <div class="col-sm-6">
                    <!-- Empty column -->
                </div>
            </div>
        </div>
        <!-- END OF ENROLLED COURSE TAB -->

        <!-- LIVE CLASS TAB -->
        <div id="live-class" class="tabcontent">
            <div class="row text-center">
                <h1>Live Class</h1>
                <div class="col-sm-4">
                    <!-- Start Meeting Card -->
                    <div class="card-deck text-center">
                        <div class="card">
                            <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/start-meeting.svg')}}" alt="Parent">
                            <div class="card-body">
                                <h4 class="card-title">New Meeting</h4><hr>
                                <p class="card-text">
                                    Create your own meeting and invite your friends to join.
                                </p>
                                <a href=" # " class="btn btn-primary">Start New Meeting</a>
                            </div>            
                        </div>
                    </div>
                    <!-- End of Start Meeting Card -->
                </div>
                <div class="col-sm-4">
                    <!-- Join Meeting Card -->
                    <div class="card-deck text-center">
                        <div class="card">
                            <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/join-meeting.svg')}}" alt="Parent">
                            <div class="card-body">
                                <h4 class="card-title">Join Meeting</h4><hr>
                                <p class="card-text">
                                    You can join a meeting that is currently in progress.
                                </p>
                                <a href=" # " class="btn btn-primary">Join Meeting</a>
                            </div>            
                        </div>
                    </div>
                    <!-- End of Join Meeting Card -->
                </div>
                <!-- Scheduling Card -->
                <div class="col-sm-4">
                    <div class="card-deck text-center">
                        <div class="card">
                            <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/schedule.svg')}}" alt="Schedule Meeting">
                            <div class="card-body">
                                <h4 class="card-title">Schedule Call</h4><hr>
                                <p class="card-text">
                                    Reach out to your teacher to schedule a call with them.
                                </p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    Schedule Call
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close schedule-btn" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h2 class="modal-title" id="exampleModalLongTitle">Schedule a call</h2>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    I have a few video conference consultation slots each week for those who want one-on-one time with me. 
                                                    I'm happy to assist you on any of the topics I cover on this blog.
                                                </p>
                                                <div class="row calendar">
                                                    <div class="col-sm-12">
                                                        <!-- Calendly inline widget begin -->
                                                        <div class="calendly-inline-widget" data-url="https://calendly.com/gitauharrison/60min?hide_gdpr_banner=1" style="min-width:250px;height:630px;"></div>
                                                        <!-- Calendly inline widget end -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary schedule-btn" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                    <!-- End of Scheduling Card -->
                </div>
            </div>
        </div>
        <!-- END OFLIVE CLASS TAB -->

        <!-- COMMUNITY TAB -->
        <div id="community" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Explore</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 my-form">
                    {{ wtf.quick_form(comment_form) }}
                </div>
                <div class="col-sm-6">
                    <!-- Empty column -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for comment in comments %}
                        {% include '_comments_students.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- COMMUNITY TAB -->

        <!-- ACCOUNT TAB -->
        <div id="account" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Your Account</h1>
                </div>
            </div>
            <div class="row profile">
                <div class="col-sm-12">
                    <h2>Profile</h2>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src=" {{ current_user.avatar_student(128) }} ">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                Your Full Name: <span style="font-weight: 600;">{{ current_user.student_full_name }}</span> 
                            </p>
                            <p>
                                Your Parent Full Name: <span style="font-weight: 600;">{{ current_user.parent_full_name }}</span> 
                            </p>
                            <p>
                                Email: <span style="font-weight: 600;">{{ current_user.student_email }}</span> 
                            </p>
                            {% if current_user.student_about_me %}
                                <p>
                                    About me: <span style="font-weight: 600;">{{ current_user.student_about_me }}</span>
                                </p>
                            {% endif %}
                            {% if current_user.student_last_seen %}
                                <p>
                                    Last seen on: <span style="font-weight: 600;">{{ moment(current_user.student_last_seen).format('LLL') }}</span>
                                </p>
                            {% endif %}
                            <p>
                                Followers: <span style="font-weight: 600;">3</span>, Following: <span style="font-weight: 600;">3</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row update-account">
                <div class="col-sm-12">
                    <h2>Update Account Details</h2>
                    <div class="col-sm-6">
                        <p>
                            Change your student account password <br>
                        </p>
                        <p>
                            <a href="{{ url_for('request_password_reset') }}" class="btn btn-primary">Reset Password</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Update your student bio information <br>                            
                        </p>
                        <p>
                            <a href=" {{ url_for('edit_profile_student') }} " class="btn btn-primary">Update Bio</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row two-factor-auth">
                <div class="col-sm-12">
                    <h2>Two-Factor Authentication</h2>
                    <p>
                        Add an extra layer of security to your account by enabling two-factor authentication.
                    </p>
                    {% if not current_user.two_factor_student_enabled() %}
                        <p>
                            <a href=" {{ url_for('enable_2fa_student') }} " class="btn btn-primary">Enable Two-Factor Authentication</a>
                        </p>
                    {% else %}
                        <p>
                            <a href=" {{ url_for('disable_2fa_student') }} " class="btn btn-primary">Disable Two-Factor Authentication</a>
                        </p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <!-- ACCOUNT TAB -->

        <!-- ANALYTICS TAB -->
        <div id="analytics" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Analytics</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Your Analytics will appear here.
                </div>
            </div>
        </div>
        <!-- COMMUNITY TAB -->

    </div>
    <!-- End of tab contents -->

</div>
{% endblock %}