{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
    <div class="col-sm-4 my-form">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
</div>
    {% if current_user.is_authenticated %}
        <div class="row text-center">
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
            <div class="col-sm-4">
                <p>
                    <a href=" {{ url_for('dashboard_student') }} " class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to Dashboard
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
        </div>
    {% else %}
        <div class="row text-center">
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
            <div class="col-sm-4">
                <p>
                    <a href=" {{ url_for('login') }} " class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back to Login
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <!-- Empty columns -->
            </div>
        </div>
    {% endif %}
{% endblock %}