{% extends 'base.html' %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>
                Congratulations! Your order has been placed. 
            </p>
            <p>
                Want to continue shopping?<br>
                Return to the 
                <a href="{{ url_for('main.checkout') }}">orders page</a> to continue shopping.
            </p>
        </div>
    </div>
{% endblock %}