{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <!-- Comments Section -->
        <h1 id="comments">All Your Posts</h1>
        <!-- Comments list -->
        {% for comment in comments %}
            {% include 'comments/_parent_comment.html' %}
        {% endfor %}
        <!-- Pagination Links -->
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer Comments
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Older Comments <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div> 
{% endblock %}