{% extends 'base.html' %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>
                Congratulations! Your order has been placed. 
            </p>
            <p>
                To access learning materials, you will need to create a somasoma account by registering below:<br><br>
                <a href="{{ url_for('auth.register_parent') }}" class="btn btn-primary">Register</a>
            </p>
        </div>
    </div>
{% endblock %}