{% extends 'base.html' %}

{% block anonymous_app_content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row course-title">
        <div class="col-sm-12">
            <h2>Overview</h2>
            <p>
                Flask was originally designed and developed by Armin Ronacher as an 
                April Fool's Day joke in 2010. Despite the origin as a joke, 
                the Flask framework became wildly popular as an alternative to 
                Django projects with their monolithic structure and dependencies.
            </p>
            <p>
                Flask's success created a lot of additional work in issue tickets and pull requests. 
                Armin eventually created The Pallets Projects collection of open source code 
                libraries after he had been managing Flask under his own GitHub account for 
                several years. The Pallets Project now serves as the community-driven organization 
                that handles Flask and other related Python libraries such as Lektor, 
                Jinja and several others.
            </p>
            <p>
                Flask is considered more Pythonic than the Django web framework because in 
                common situations the equivalent Flask web application is more explicit. 
                Flask is also easy to get started with as a beginner because there is little 
                boilerplate code for getting a simple app up and running.
            </p>
        </div>
    </div>
    <div class="row course-title" id="student-stories">
        <h2>Stories From Real Students</h2>
        <div class="row">
            {% for student in allowed_students %}
            <div class="col-sm-4 student">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{ student.student_image }}" alt="Flask Class"><br>
                        <p>{{ student.username }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>"{{ student.body }}"</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div  class="col-sm-12">
            <!-- Pagination of comments -->
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&#60;</span> Less
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            More <span aria-hidden="true">&#62;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of pagination of comments -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Want to be featured?
                <a href=" {{ url_for('main.flask_student_stories_form') }} ">Send us your story</a>.
            </p>
        </div>
    </div>
    <div class="row course-title">
        <div class="col-sm-12">
            <h2>What You Will Learn</h2>
            <ol>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>Git</li>
                <li>GitHub</li>
                <li>Flask</li>
            </ol>
        </div>
    </div>
    <div class="row course-title">
        <div class="col-sm-12">
            <h2>Learning Schedule</h2>
            <p>
                Week 1: HTML, CSS, and Git (Duration: 1 Week - 50 hours)
            </p>
            <p>
                Week 2: Python and JavaScript Fundamentals (Duration: 1 Week - 50 hours)
            </p>
            <p>
                Week 3: Python and JavaScript for Web, Front-End Development and Back-end Development (Duration: 1 Week - 50 hours)
            </p>
            <p>
                Week 4: Object-Oriented Programming and Git Collaboration (Duration: 1 Week - 50 hours)
            </p>
            <p>
                Week 5: Project Period (Duration: 1 Week - 50 hours)
            </p>
        </div>
    </div>
    <div class="row course-title course-details">
        <div class="col-sm-4">
            <p>
                DURATION:<br>
                <span>6 months</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                MODE:<br>
                <span>Remote Learning</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                COST:<br>
                <span>KES 165 000 (USD 1650)</span>
            </p>
        </div>
    </div>
    <div class="row course-title text-center">
        <div class="col-sm-12">
            <a class="btn btn-success" href="{{ url_for('main.checkout') }}">Make Payment</a>
        </div>
    </div>
{% endblock %}