{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>
<!-- Overview -->
<div class="row courses-on-offer">
    <div class="col-sm-5">
        <p>
            Our programs are challenging, impactful, and designed to fit your schedule and skill level. 
            We train students using a computer science and coding curriculum that models the exciting work being 
            done in the software engineering industry. We'll help you launch the career you crave.
        </p>
        <p>
            Led by passionate and experienced instructors, engineers, and career advisors, our graduates become 
            software engineers that companies around the world want to hire.
        </p>
    </div>
    <div class="col-sm-7">
        <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/courses.jpg')}}" alt="Courses">
    </div>
</div>
<!-- End of Overview -->

<div class="row" id="courses-offerings">
    <div class="col-sm-12">
        <h2>Discover Our Course Offerings Below</h2>
    </div>
</div>


<!-- Courses -->
<div class="row">
    {% for course in allowed_courses %}
    <div class="col-sm-4">
        <div class="card-deck">
            <div class="card">
                <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{ course.course_image }}" alt="Flask Class">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">{{ course.title }}</h2>
                        <hr>
                        <p class="card-text">
                            {{ course.body }}
                        </p>
                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ course.id }}">
                                Learn More
                            </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h2 class="modal-title text-center" id="{{ course.id }}">{{ course.title }}</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{course.course_image}}" alt="{{ course.title }}">
                                    </div>
                                    <h3>Overview</h3>
                                    <p>{{ course.overview }}</p>
                                    <h3>Next Class: {{ course.next_class_date }}</h3>
                                    <a class="btn btn-primary" href="{{ course.link }} ">Explore</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal -->
                </div>            
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End of courses -->
<div class="row">
    <div  class="col-sm-12">
        <!-- Pagination of comments -->
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&#60;</span> Less
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        More <span aria-hidden="true">&#62;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End of pagination of comments -->
    </div>
</div>
{% endblock %}