{% extends 'base.html' %}

{% block anonymous_app_content %}
    <div class="container py-4">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-8">
                {% include '_flash_message.html' %}
            </div>
        </div>
        <div class="row align-items-center hero">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0 hero-text">
                <h1 class="display-4 font-weight-bold mb-3">Stand out from the crowd.</h1>
                <p class="lead mb-4">Learn what matters the most!</p>
                <a href="{{ url_for('main.courses') }}" class="btn btn-success btn-lg px-4">Discover More</a>
            </div>
            <div class="col-md-6 text-center hero-img">
                <img class="img-fluid" style="max-width: 90%; height: auto;" src="{{url_for('static', filename = 'images/pair_programming.svg')}}" alt="Stand Out">
            </div>
        </div>
    </div>
{% endblock %}