{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">
    <div class="col-sm-12 student-content-title">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row" id="quizzes">
    <div class="col-sm-12">
        {% for quiz in quizzes %}
            {% include 'student/_quizzes.html' %}
        {% endfor %}
    </div>
</div>
<!-- Pagination -->
<div class="row">
    <div class="col-sm-12">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer posts
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Older posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End of pagination -->
<!-- Chapter navigation -->
<div class="row text-center">
    <div class="col-sm-12">
        <p>
            <a href=" {{ url_for('student.web_development_chapter_1', student_full_name=student.student_full_name, _anchor='objectives') }} " class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to Chapter 1
            </a>
        </p>
    </div>
</div>
<!-- End of chapter navigation -->
{% endblock %}