{% extends 'base.html' %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center student-content-title">
            <h1> {{ title }} </h1>
        </div>
    </div>
    {% for objective in objectives %}
        <div class="row objective">
            <div class="col-sm-4">
                <p>
                    <a href=" {{ url_for('student.profile_student', student_full_name=objective.author.student_full_name) }} ">
                    <img src=" {{ objective.author.avatar_student(30) }}  ">
                </a>
                <span>
                    <a href=" {{ url_for('student.profile_student', student_full_name=objective.author.student_full_name) }} ">
                        {{ objective.author.student_full_name }}
                    </a>
                </span> status<br>
                {{ moment(objective.timestamp).fromNow() }}
                </p>
            </div>
            <div class="col-sm-8">
                <!-- Achievement -->
                <div class="row">
                    <div class="col-sm-12">
                            {% for objective in chapter_objectives %}
                                {% if student.student_course.lower() ==  'flask web development' %}
                                    <li>
                                        {{ objective.objective_1 }}
                                            {% for obj in objectives %}
                                                {% if obj.author == student %}
                                                    {% if obj.objective_1 == False %}
                                                        <span class="label label-warning">
                                                            {{ obj.objective_1 }}
                                                        </span>
                                                    {% elif obj.objective_1 == True %}
                                                            <span class="label label-info">
                                                                {{ obj.objective_1 }}
                                                            </span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        
                                    </li>
                                    <li>
                                        {{ objective.objective_2 }}
                                        {% for obj in objectives %}
                                            {% if obj.author == student %}
                                                {% if obj.objective_2 == False %}
                                                    <span class="label label-warning">
                                                        {{ obj.objective_2 }}
                                                    </span>
                                                {% elif obj.objective_2 == True %}
                                                        <span class="label label-info">
                                                            {{ obj.objective_2 }}
                                                        </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                    <li>
                                        {{ objective.objective_3 }}
                                        {% for obj in objectives %}
                                            {% if obj.author.student_full_name == student.student_full_name %}
                                                {% if obj.objective_3 == False %}
                                                    <span class="label label-warning">
                                                        {{ obj.objective_3 }}
                                                    </span>
                                                {% elif obj.objective_3 == True %}
                                                        <span class="label label-info">
                                                            {{ obj.objective_3 }}
                                                        </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                    <li>
                                        {{ objective.objective_4 }}
                                        {% for obj in objectives %}
                                            {% if obj.author.student_full_name == student.student_full_name %}
                                                {% if obj.objective_4 == False %}
                                                    <span class="label label-warning">
                                                        {{ obj.objective_4 }}
                                                    </span>
                                                {% elif obj.objective_4 == True %}
                                                        <span class="label label-info">
                                                            {{ obj.objective_4 }}
                                                        </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                    <li>
                                        {{ objective.objective_5 }}
                                        {% for obj in objectives %}
                                            {% if obj.author.student_full_name == student.student_full_name %}
                                                {% if obj.objective_5 == False %}
                                                    <span class="label label-warning">
                                                        {{ obj.objective_5 }}
                                                    </span>
                                                {% elif obj.objective_5 == True %}
                                                        <span class="label label-info">
                                                            {{ obj.objective_5 }}
                                                        </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Achievement rate: {{ percentage_achieved }}%</p>
                    </div>
                </div>
                <!-- End of achievement -->
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
        <div class="col-sm-4 text-center">
            <p>
                <a href=" {{ url_for('student.web_development_chapter_1', student_full_name=student.student_full_name, _anchor='objectives') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Chapter 1
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}