{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% for chapter in course_chapters %}
                {% if chapter.course.lower() ==  student.student_course.lower() %}
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1>{{ chapter.chapter }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Overview</h2>
                            <p>{{ chapter.overview }}</p>

                            <!-- Table of contents -->
                            <div class="row table-of-content">
                                <div class="col-sm-12">
                                    <h2>Table of Contents</h2>
                                    {% for toc in all_toc %}
                                        {% include 'student/_table_of_contents.html' %}
                                    {% endfor %}
                                </div>
                            </div>

                            <h2>What You Will Accomplish</h2>
                            <p>{{ chapter.accomplish }}</p>
                            <div class="youtube embed-responsive embed-responsive-16by9">
                                <iframe class="youtube embed-responsive-item" width="560" height="315" src="{{ chapter.youtube_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <h2>Lesson Objectives</h2>
                            <ul>
                                <li>{{ chapter.objective_1 }}</li>
                                <li>{{ chapter.objective_2 }}</li>
                                <li>{{ chapter.objective_3 }}</li>
                                <li>{{ chapter.objective_4 }}</li>
                                <li>{{ chapter.objective_5 }}</li>
                            </ul>

                            <h2>Getting Started</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting 
                                industry. Lorem Ipsum has been the industry's standard dummy text 
                                ever since the 1500s, when an unknown printer took a galley of 
                                type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged.
                            </p>
                            <p>
                                It was popularised in the 1960s with the release of Letraset sheets 
                                containing Lorem Ipsum passages, and more recently with desktop 
                                publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.
                            </p>

                            <h2>Creation</h2>
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                It has roots in a piece of classical Latin literature from 45 BC, making 
                                it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney 
                                College in Virginia, looked up one of the more obscure Latin words, consectetur, 
                                from a Lorem Ipsum passage, and going through the cites of the word in classical 
                                literature, discovered the undoubtable source.             
                            </p>
                            <p>
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise 
                                on the theory of ethics, very popular during the Renaissance.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, but also the 
                                leap into electronic typesetting, remaining essentially unchanged.             
                            </p>
                            <p>
                                It was popularised in the 1960s with the release of Letraset sheets containing 
                                Lorem Ipsum passages, and more recently with desktop publishing software like 
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </p>

                            <h2>Conclusion</h2>
                            <p>{{ chapter.conclusion }}</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="student_feedback" id="objectives">
                                <!-- Lesson objectives form -->
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <h2>Achievement of Lesson Goals</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <div class="col-sm-6 my-form">
                                        {{ wtf.quick_form(objectives_form) }}
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                </div>
                                <!-- End of lesson objectives form -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Chapter navigation -->
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <p>
                                        <a href=" {{ url_for('student.web_development_overview', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                                Course Overview
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <p>
                                        <a href=" {{ url_for('student.web_development_chapter_1_quiz', student_full_name=student.student_full_name) }} " target="_blank" class="btn btn-primary">
                                            Assess Yourself
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <p>
                                        <a href=" {{ url_for('student.web_development_chapter_1_objectives_status', student_full_name=student.student_full_name) }} " target="_blank" class="btn btn-primary">
                                            Student Achievements
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <p>
                                        <a href=" {{ url_for('student.web_development_chapter_2', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                                            Chapter 2
                                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!-- End of chapter navigation -->
                        </div>
                    </div>
                    <HR>
                    
                    <!-- COMMENTS SECTION -->
                    <div class="row" id="comments">
                        <div class="col-sm-6">
                            <h2>Comments</h2>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="text-right">{{ all_comments }} Comments</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% for comment in comments %}
                                {% include 'student/_comments_students.html' %}      
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-sm-12">
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                                        <a href="{{ prev_url or '#' }}">
                                            <span aria-hidden="true">&larr;</span> Newer posts
                                        </a>
                                    </li>
                                    <li class="next{% if not next_url %} disabled{% endif %}">
                                        <a href="{{ next_url or '#' }}">
                                            Older posts <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End of pagination -->
                    <div class="row">
                        <div class="col-sm-12 my-form">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                    <!-- END OF COMMENTS SECTIONS -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}