{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    {% if percentage_achieved_chapter_2 < 80 %}
        <div class="row">
            <div class="col-sm-4">
                <!-- Empty columcn -->
            </div>
            <div class="col-sm-4">
                <div class="alert alert-danger">
                    <p>
                        You have not achieved 
                        <strong>80% of the objectives for chapter 2</strong> of this course. 
                        Please improve your performance first before you can access this page.
                    </p>
                    <div class="text-center">
                        <a href="{{ url_for('student.web_development_chapter_2') }}">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Chapter 2
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Empty column -->
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            {% for chapter in course_chapters %}
                {% if chapter.course.lower() ==  student.student_course.lower() %}
                    {% if chapter.chapter.lower() == "chapter 3: introduction to web forms" %}
                        <div class="row">
                            <div class="col-sm-12 text-center student-content-title">
                                <h1>{{ chapter.chapter }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Overview</h2>
                                <p>{{ chapter.overview }}</p>

                                <!-- Table of contents -->
                                <div class="row table-of-content">
                                    <div class="col-sm-12">
                                        <h2>Table of Contents</h2>
                                        {% for toc in all_toc %}
                                            {% include 'student/_table_of_contents.html' %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <h2>What You Will Accomplish</h2>
                                <p>{{ chapter.accomplish }}</p>
                                <div class="youtube embed-responsive embed-responsive-16by9">
                                    <iframe class="youtube embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ chapter.youtube_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                                <h2>Lesson Objectives</h2>
                                <ul>
                                    <li>{{ chapter.objective_1 }}</li>
                                    <li>{{ chapter.objective_2 }}</li>
                                    <li>{{ chapter.objective_3 }}</li>
                                    <li>{{ chapter.objective_4 }}</li>
                                    <li>{{ chapter.objective_5 }}</li>
                                </ul>

<p>The completed project used in this article can be referenced <a href="https://github.com/GitauHarrison/personal-blog-tutorial-project/commit/b388b9099738c53b44650ef8e99a4364a923964a">here</a>. </p>
<p>In the previous chapter, you learnt how to display a string on the web browser. During this chapter, I will show you how to work with HTML templates that help create a more elaborate and dynamic web application.</p>
<h1 id="understanding-templates">Understanding Templates</h1>
<p>Our application structure from <a href="hello_world.md">chapter 1</a> was necessary to help us separate the application layout/presentation from the logic. Templates help us achieve this kind of separation. Flask templates are found in the <em>templates</em> subfolder within the application instance.</p>
<h2 id="working-with-templates">Working with Templates</h2>
<p>Below, I am going to create a template for the home page of our blog.</p>
<p class="code-title">app/static/templates/home.html: Home Page</p>
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">html</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>
            Gitau Harrison | </span><span class="hljs-template-variable">&#123;&#123; title &#125;&#125;</span><span class="xml">
        <span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>  
    <span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>
            Available Updates
        <span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></span>
</code></pre>
<p>This is a very standard HTML page. It basically contains <code>&lt;head&gt;</code> and <code>&lt;body&gt;</code> tags enclosed in <code>&lt;html&gt;</code>. The <code>&lt;head&gt;</code> has a dynamic content enclosed in <code>&#123;&#123; ... &#125;&#125;</code>. The <code>title</code> is a placeholder variable which will be known at runtime.</p>
<p>With the simple presentation in place, we will now update our <code>home</code> view function.</p>
<p class="code-title">app/routes.py: Render the home template</p>
<pre><code class="lang-python"><span class="hljs-keyword">from</span> flask <span class="hljs-keyword">import</span> render_template
<span class="hljs-keyword">from</span> flask <span class="hljs-keyword">import</span> app

<span class="hljs-meta">@app.route('/')</span>
<span class="hljs-meta">@app.route('/home')</span>
<span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">home</span><span class="hljs-params">()</span>:</span>
    <span class="hljs-keyword">return</span> render_template(<span class="hljs-string">'home.html'</span>, title = <span class="hljs-string">'Home'</span>)
</code></pre>
<p>Flask provides the <code>render_template</code> function which allows us to render (or to show) HTML templates. Above, we have returned the <code>home.html</code> template. Additionally, we have added a title to the function such that the placeholder value we saw previously will change to indicate &#39;Home&#39;. Jinja2 is responsible for substituting the placeholder value with the actual dynamic content.</p>
<p>We can make the title of our blog a bit more interesting. Jinja2 provides support for control statements to be used in templates. Let us update our home page to include a control statement.</p>
<p class="code-title">app/templates/home.html: Conditional statemenst in template</p>
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">html</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">if</span></span> title %&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>
                Gitau Harrison | </span><span class="hljs-template-variable">&#123;&#123; title &#125;&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span> 
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">else</span></span> %&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>
                Welcome to my Personal Blog
            <span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span> 
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">endif</span></span> %&#125;</span><span class="xml">         
    <span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>
            Available Updates
        <span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></span>
</code></pre>
<p>The template is slightly  smarter now to know when a title has been provided or not. If there is a title in the view function, then it will use it within it&#39;s head, otherwise, it will resort to displaying <em>Welcome to My Personal Blog</em>.</p>
<h2 id="template-inheritance">Template Inheritance</h2>
<p>At this stage of the application, it is very easy to make edits in the templates. However, when the application becomes bigger and bigger, say, to have several templates, then making these edits on each template can become difficult and tiring. Thankfully, Flask allows for template inheritence where we can define a base layout for the entire blog. From this base layout, every other template that we will create will inherit the base styles and features. This makes is easy whenever we want to make changes to our growing application. The second reason to consider template inheritence is so that we can maintain a consistene theme or layout throughout our blog. We want that certain features be present in each template. For example, we would want to maintain our navigation bar and our footer everywhere.</p>
<p>For these reasons, we have our <code>base.html</code> file in the templates sub-folder. This file will contain our navigation bar and our footer. Notabely, we will move our <code>&lt;head&gt;</code> logic from the <code>home.html</code> template we implemented earlier to the <code>base.html</code> template.</p>
<p class="code-title">app/templates/base.html: Title, Navigation bar and Footer</p>
<pre><code class="lang-html"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">html</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">if</span></span> title %&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>
                Gitau Harrison | </span><span class="hljs-template-variable">&#123;&#123; title &#125;&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span> 
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">else</span></span> %&#125;</span><span class="xml">
            <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span>
                Welcome to my Personal Blog
            <span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span> 
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">endif</span></span> %&#125;</span><span class="xml">         
    <span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
            Gitau Harrison: <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/home"</span>&gt;</span>Home<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">block</span></span> content %&#125;</span><span class="xml">

        </span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">endblock</span></span> %&#125;</span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span></span>
</code></pre>
<p>The <code>block</code> control statement is used to define where the derived templates can insert themselves. Blocks are to be given unique names which derived templates can reference to provide their own content.</p>
<p class="code-title">app/templates/home.html: Template inheritence</p>
<pre><code class="lang-html"><span class="xml"></span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">extends</span></span> 'base.html' %&#125;</span><span class="xml">

</span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">block</span></span> content %&#125;</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Available Updates<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-comment">&lt;!--Home Page Content Goes Here--&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</span><span class="hljs-template-tag">&#123;% <span class="hljs-name"><span class="hljs-name">endblock</span></span> %&#125;</span><span class="xml"></span>
</code></pre>
<p>The <code>extends</code> statement used above establishes the inheritence link between the two templates. When Jinja2 is asked to render the home page, it will know that it also needs to embed the <code>base.html</code> file.</p>
<p>Run your Flask application and you should be able to see your home page.</p>
<p>
    <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/template_inheritence.png')}}" alt="Template Inheritence In Flask">
</p>
<p>With that, you can go ahead and create the other templates needed to complete our personal blog. For your reference, you will need:</p>
<ul>
<li>About Me template</li>
<li>Portfolio template</li>
<li>Hire Me template</li>
<li>My Interests template</li>
</ul>
<p>If you would like to see the changes you make in the application without the need to exit and restart the flask server every other time, you will need to update your flask environment variables. Add FLASK_ENV and FLASK_DEBUG environment variables in your <code>.flaskenv</code> file.</p>
<p class="code-title">.flaskenv: More environment variables</p>
<pre><code class="lang-python"><span class="hljs-comment">#...</span>
<span class="hljs-attr">FLASK_ENV=development</span> <span class="hljs-comment"># you are working on a development server</span>
<span class="hljs-attr">FLASK_DEBUG=True</span> <span class="hljs-comment"># catching of live updates</span>
</code></pre>
    
                        <h2>Conclusion</h2>
                        <p>{{ chapter.conclusion }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="student_feedback" id="objectives">
                            <!-- Lesson objectives form -->
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <h2>Achievement of Lesson Goals</h2><br>
                                    Current Score: {{ percentage_achieved_chapter_3 }}%
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <!-- Empty column -->
                                </div>
                                <div class="col-sm-6 my-form">
                                    {{ wtf.quick_form(objectives_form) }}
                                </div>
                                <div class="col-sm-3">
                                    <!-- Empty column -->
                                </div>
                            </div>
                            <!-- End of lesson objectives form -->
                        </div>
                    </div>
                </div>
                <hr>
                    <!-- Chapter navigation -->
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <p>
                                <a href=" {{ url_for('student.web_development_chapter_2', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                        Chapter 2
                                </a>
                            </p>
                        </div>
                        {% if percentage_achieved_chapter_3 < 80 %}
                            <div class="col-sm-6">
                                <p>
                                    <a href=" {{ url_for('student.web_development_chapter_3_quiz_1', student_full_name=student.student_full_name) }}  " class="btn btn-primary disabled">
                                        Quiz
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </p>
                            </div>
                        {% else %}
                            <div class="col-sm-6">
                                <p>
                                    <a href=" {{ url_for('student.web_development_chapter_3_quiz_1', student_full_name=student.student_full_name) }}  " class="btn btn-primary">
                                        Quiz
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <!-- End of chapter navigation -->
                    <hr>

                    <!-- COMMENTS SECTION -->
                    <div class="row" id="comments">
                        <div class="col-sm-6">
                            <h2>Comments</h2>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="text-right">{{ all_comments }} Comments</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% for comment in comments %}
                                {% include 'student/_comments_students.html' %}      
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-sm-12">
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                                        <a href="{{ prev_url or '#' }}">
                                            <span aria-hidden="true">&larr;</span> Newer posts
                                        </a>
                                    </li>
                                    <li class="next{% if not next_url %} disabled{% endif %}">
                                        <a href="{{ next_url or '#' }}">
                                            Older posts <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End of pagination -->
                    <div class="row">
                        <div class="col-sm-12 my-form">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                    <!-- END OF COMMENTS SECTIONS -->
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}