{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
    {% for overview in allowed_course_overview %}
        {% if overview.title.lower() == student.student_course.lower() %}
            <div class="row">
                <div class="col-sm-12 text-center student-content-title">
                    <h1>{{ overview.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{ overview.overview }}</p>
                    <div class="table-of-content">
                        <h2>Table of Contents</h2>
                        {% for toc in all_toc %}
                            {% if toc.title.lower() == student.student_course.lower() %}
                                {% include 'student/_table_of_contents.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h2>Completed Project</h2>
                    <div class="col-sm-12  embed-responsive embed-responsive-16by9">
                        <iframe class="youtube embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ overview.youtube_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <hr>
    <div class="row text-center">
        <div class="col-sm-6">
            <p>
                <a href=" {{ url_for('student.dashboard_enrolled_courses', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Course Page
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <a href=" {{ url_for('student.web_development_chapter_1', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                    Chapter 1
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
{% endblock %}