{% extends 'base.html' %}

{% block app_content %}
    <div class="row hero">
        <div class="col-sm-5 hero-text">
            <p>
                Stand out from the crowd.<br><br>
                Learn what matters the most!
            </p>
            <a href=" {{ url_for('main.courses') }} " class="btn btn-success">Discover More</a>
        </div>
        <div class="col-sm-7 text-center hero-img">
            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{url_for('static', filename = 'images/pair_programming.svg')}}" alt="Stand Out">
        </div>
    </div>
{% endblock %}