<table class="table table-striped">
    <tr valign='top'>
        <td width="30px">
            <a href=" {{ url_for('teacher.profile_teacher', teacher_full_name=comment.author.teacher_full_name) }} ">
                <img src=" {{ comment.author.avatar_teacher(30) }}  ">
            </a>
        </td>
        <td>
            <span class="comment-id label label-default"># {{ comment.id }} </span>
            
            <span class="teacher_popup">
                <a href="{{ url_for('teacher.profile_teacher', teacher_full_name=comment.author.teacher_full_name) }}">
                    <span class="label label-success"> {{ comment.author.teacher_full_name }} </span>  
                </a>
            </span>
            
            said {{ moment(comment.timestamp).fromNow() }}:
            <br>
            <div class="comment-body">
                {{ comment.body }}
            </div>
        </td>
    </tr>    
</table>