{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- TEACHER ACCOUNT TAB -->
        <div id="account" class="tabcontent">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{ title }}</h1>
                    </div>
                </div> 
                <!-- General registration info -->
                <div class="row profile">
                    <div class="col-sm-12">
                        <h2>General</h2>
                        <p>
                            Full Name: <span style="font-weight: 600;">{{ teacher.teacher_full_name }}</span> 
                        </p>
                        <p>
                            Email: <span style="font-weight: 600;">{{ teacher.teacher_email }}</span> 
                        </p>
                        <p>
                            Phone: <span style="font-weight: 600;">{{ teacher.teacher_phone }}</span> 
                        </p>
                        <p>
                            Residence: <span style="font-weight: 600;">{{ teacher.teacher_residence }}</span> 
                        </p>
                        <p>
                            Teaching Course: <span style="font-weight: 600; color: orange;">{{ teacher.teacher_course }}</span> 
                        </p>
                        <p>
                            About me: <span style="font-weight: 600;">{{ teacher.teacher_about_me }}</span>
                        </p>
                    </div>
                </div> 
                <!-- End of general registration info -->

                <!-- Edit profile -->
                <div class="row profile">
                    <div class="col-sm-12">
                        <h2>Update Profile</h2>
                        <p>
                            <a href="{{ url_for('teacher.edit_profile', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">Update Profile</a>
                        </p>
                    </div>
                </div>
                <!-- End of edit profile -->

                <!-- Two factor authentication -->
                <div class="row two-factor-auth">
                    <div class="col-sm-12">
                        <h2>Two-Factor Authentication</h2>
                        <p>
                            Add an extra layer of security to your account by enabling two-factor authentication.
                        </p>
                        {% if not teacher.two_factor_teacher_enabled() %}
                            <p>
                                <a href=" {{ url_for('auth.enable_2fa_teacher', teacher_full_name=teacher.teacher_full_name) }} " class="btn btn-primary">
                                    Enable 2FA
                                </a>
                            </p>
                        {% else %}
                            <p>
                                <a href=" {{ url_for('auth.disable_2fa_teacher', teacher_full_name=teacher.teacher_full_name) }} " class="btn btn-primary">
                                    Disable 2FA
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <!-- End of two factor authentication -->
            </div>
        </div>
        <!-- END OF TEACHER ACCOUNT TAB -->
        </div>
    </div>
{% endblock %}