{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- chapter MODERATION TAB -->
            <div id="chapter-moderation" class="tabcontent">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Comment Moderation Links</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="data" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Chapter</th>
                                    <th>Date Posted</th>
                                    <th>Moderate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for chapter in course_chapters %}
                                    <tr>
                                        <td>{{ chapter.course }}</td>
                                        <td>{{ chapter.chapter }}</td>
                                        <td>{{ moment(chapter.timestamp).format('LLL') }}</td>
                                        <td>
                                            <a href="http://127.0.0.1:5000/teacher/{{ chapter.comment_moderation_link }}">
                                                Moderate
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END OF chapter MODERATION TAB -->
        </div>
    </div>
{% endblock %}

{% block datatable_scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
{% endblock %}