{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- chapter MODERATION TAB -->
            <div id="chapter-moderation" class="tabcontent">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Comment Moderation Links</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="data" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Chapter</th>
                                    <th>Date Posted</th>
                                    <th>Moderate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for chapter in course_chapters %}
                                    <tr>
                                        <td>{{ chapter.course }}</td>
                                        <td>{{ chapter.chapter }}</td>
                                        <td>{{ moment(chapter.timestamp).format('LLL') }}</td>
                                        <td>
                                            <!-- <a href="http://127.0.0.1:5000/teacher/{{ chapter.comment_moderation_link }}">
                                                Moderate
                                            </a> -->
                                            {% if chapter.chapter == 'Chapter 1: Hello World' %}
                                                <a href="{{ url_for('teacher.review_flask_chapter_1_comments', teacher_full_name=teacher.teacher_full_name) }}">Moderate</a>
                                            {% elif chapter.chapter == 'Chapter 2: Flask Templates' %}
                                                <a href="{{ url_for('teacher.review_flask_chapter_2_comments', teacher_full_name=teacher.teacher_full_name) }}">Moderate</a>
                                                {% elif chapter.chapter == 'Chapter 3: Introduction to Web Forms' %}
                                                <a href="{{ url_for('teacher.review_flask_chapter_3_comments', teacher_full_name=teacher.teacher_full_name) }}">Moderate</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END OF chapter MODERATION TAB -->
        </div>
    </div>
{% endblock %}

{% block datatable_scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
{% endblock %}