{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">

    <!-- Start of sidebar -->
    <div class="col-sm-2 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'account')" id="defaultOpen">
                Account
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'students')" id="defaultOpen">
                All Students
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'explore-teacher-community')">
                Explore Teacher Community
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'your-community')">
                Your Community
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'student-community')">
                Student Community
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'comment-moderation')">
                Comment Moderation
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'update')">
                Manage Course
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'events')">
                Manage Events
            </a>
        </div>   
    </div>
    <!-- End of sidebar -->
    
    <!-- Start of tab contents -->
    <div class="col-sm-10 ">

        <!-- TEACHER ACCOUNT TAB -->
        <div id="account" class="tabcontent">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Teacher Account</h1>
                    </div>
                </div> 
                <!-- General registration info -->
                <div class="row profile">
                    <div class="col-sm-12">
                        <h2>General</h2>
                        <p>
                            Full Name: <span style="font-weight: 600;">{{ current_user.teacher_full_name }}</span> 
                        </p>
                        <p>
                            Email: <span style="font-weight: 600;">{{ current_user.teacher_email }}</span> 
                        </p>
                        <p>
                            Phone: <span style="font-weight: 600;">{{ current_user.teacher_phone }}</span> 
                        </p>
                        <p>
                            Residence: <span style="font-weight: 600;">{{ current_user.teacher_residence }}</span> 
                        </p>
                        <p>
                            Teaching Course: <span style="font-weight: 600; color: orange;">{{ current_user.teacher_course }}</span> 
                        </p>
                    </div>
                </div> 
                <!-- End of general registration info -->

                <!-- Edit profile -->
                <div class="row profile">
                    <div class="col-sm-12">
                        <h2>Update Profile</h2>
                        <p>
                            <a href="{{ url_for('teacher.edit_profile') }}" class="btn btn-primary">Update Profile</a>
                        </p>
                    </div>
                </div>
                <!-- End of edit profile -->

                <!-- Two factor authentication -->
                <div class="row two-factor-auth">
                    <div class="col-sm-12">
                        <h2>Two-Factor Authentication</h2>
                        <p>
                            Add an extra layer of security to your account by enabling two-factor authentication.
                        </p>
                        {% if not current_user.two_factor_teacher_enabled() %}
                            <p>
                                <a href=" {{ url_for('auth.enable_2fa_teacher', teacher_full_name=teacher.teacher_full_name) }} " class="btn btn-primary">Enable Two-Factor Authentication</a>
                            </p>
                        {% else %}
                            <p>
                                <a href=" {{ url_for('auth.disable_2fa_teacher', teacher_full_name=teacher.teacher_full_name) }} " class="btn btn-primary">Disable Two-Factor Authentication</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <!-- End of two factor authentication -->
            </div>
        </div>
        <!-- END OF ENROLLED COURSE TAB -->

        <!-- ALL STUDENTS TAB -->
        <div id="students" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Your Students ({{ all_students }})</h1>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age</th>
                                <th>School</th>
                                <th>Last Seen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('teacher.profile_student', student_full_name=student.student_full_name) }}">
                                            {{ student.student_full_name }}
                                        </a>
                                    </td>
                                    <td>{{ student.student_email }}</td>
                                    <td>{{ student.student_phone }}</td>
                                    <td>{{ student.student_age }}</td>
                                    <td>{{ student.student_school }}</td>
                                    <td>{{ moment(student.student_last_seen).format('LLL') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <!-- END OF ALL STUDENTS TAB -->

        <!-- EXPLORE TEACHER COMMUNITY TAB -->
        <div id="explore-teacher-community" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Explore Teacher Community</h1>
                </div>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-sm-12 my-form">
                    {{ wtf.quick_form(comment_form) }}
                </div>
                <div class="col-sm-6">
                    <!-- Empty column -->
                </div>
            </div>
            <!-- End of form -->

            <!-- Teacher comments -->
            <div class="row">
                <div class="col-sm-12">
                    {% for comment in comments %}
                        {% include 'teacher/_comments_teachers.html' %}
                    {% endfor %}
                </div>
            </div>
            <!-- End of teacher comments -->

            <!-- Pagination of teacher comments -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination of teacher comments -->
        </div>
        <!-- END EXPLORE TEACHER COMMUNITY TAB -->

        <!-- YOUR COMMUNITY TAB -->
        <div id="your-community" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Your Community</h1>
                </div>
            </div>
            <!-- Teacher comments -->
            <div class="row">
                <div class="col-sm-12">
                    {% for comment in my_comments %}
                        {% include 'teacher/_comments_teachers.html' %}
                    {% endfor %}
                </div>
            </div>
            <!-- End of teacher comments -->

            <!-- Pagination of teacher comments -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not my_prev_url %} disabled{% endif %}">
                                <a href="{{ my_prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not my_next_url %} disabled{% endif %}">
                                <a href="{{ my_next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination of teacher comments -->
        </div>
        <!-- END OF YOUR COMMUNITY TAB -->

        <!-- STUDENT COMMUNITY TAB -->
        <div id="student-community" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Student Community</h1>
                </div>
            </div>

            <!-- Student comments -->
            <div class="row">
                <div class="col-sm-12">
                    {% for comment in student_comments %}
                        {% include 'teacher/_comments_students.html' %}
                    {% endfor %}
                </div>
            </div>
            <!-- End of student comments -->

            <!-- Pagination of teacher comments -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not student_prev_url %} disabled{% endif %}">
                                <a href="{{ student_prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not student_next_url %} disabled{% endif %}">
                                <a href="{{ student_next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination of teacher comments -->
        </div>
        <!-- END STUDENT COMMUNITY TAB -->

        <!-- COMMENT MODERATION TAB -->
        <div id="comment-moderation" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Comment Moderation</h1>
                </div>
            </div>            
        </div>
        <!-- END OF COMMENT MODERATION TAB -->

        <!-- CONTENT COURSE TAB -->
        <div id="update" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Manage Your Course 
                        <span style="color: orange;">({{ teacher.teacher_course }})</span>
                    </h1>
                </div>
            </div> 
            <!-- Course Overview -->
            <div class="row profile">
                <div class="col-sm-6">
                    <h2>Course Overview</h2>
                    <div class="my-form">
                        {{ wtf.quick_form(course_overview_form) }}
                    </div>
                </div>
                <div class="col-sm-5 text-center vertical-line">
                    <h2>Review Course Overview ({{ all_course_overview }})</h2>
                    <a href="{{ url_for('teacher.review_course_overview') }}" class="btn btn-primary">
                        Review Course Overview
                    </a>
                </div>
            </div>
            <!-- End of course overview -->

            <!-- Table of contents -->
            <div class="row profile">
                <div class="col-sm-6">
                    <h2>Table of Contents</h2>
                    <div class="my-form">
                        {{ wtf.quick_form(table_of_contents_form) }}
                    </div>
                </div>
                <div class="col-sm-5 text-center vertical-line">
                    <h2>Review Table of Contents ({{ all_toc }})</h2>
                    <a href="{{ url_for('teacher.review_table_of_contents') }}" class="btn btn-primary">
                        Review ToC
                    </a>
                </div>
            </div>   
            <!-- End of table of contents -->

            <!-- Course chapters -->
            <div class="row profile">
                <div class="col-sm-6">
                    <h2>Course Chapters</h2>
                    <div class="my-form">
                        {{ wtf.quick_form(chapter_form) }}
                    </div>
                </div>
                <div class="col-sm-5 text-center vertical-line">
                    <h2>Review Course Chapters ({{ all_chapters }})</h2>
                    <a href="{{ url_for('teacher.review_chapters') }}" class="btn btn-primary">
                        Review Course Chapters
                    </a>
                </div>
            </div>   
            <!-- End of course chapters -->
        </div>
        <!-- END OF COURSE UPDATE TAB -->

        <!-- CONTENT EVENTS TAB -->
        <div id="events" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Manage Events</h1>
                </div>
            </div>            
        </div>
        <!-- END OF EVENTS UPDATE TAB -->

    </div>
    <!-- End of tab contents -->

</div>
{% endblock %}