{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- EXPLORE TEACHER COMMUNITY TAB -->
            <div id="explore-teacher-community" class="tabcontent">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Explore Teacher Community</h1>
                    </div>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-sm-12 my-form">
                        {{ wtf.quick_form(comment_form) }}
                    </div>
                    <div class="col-sm-6">
                        <!-- Empty column -->
                    </div>
                </div>
                <!-- End of form -->

                <!-- Teacher comments -->
                <div class="row">
                    <div class="col-sm-12">
                        {% for comment in comments %}
                            {% include 'teacher/_comments_teachers.html' %}
                        {% endfor %}
                    </div>
                </div>
                <!-- End of teacher comments -->

                <!-- Pagination of teacher comments -->
                <div class="row">
                    <div class="col-sm-12">
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous{% if not prev_url %} disabled{% endif %}">
                                    <a href="{{ prev_url or '#' }}">
                                        <span aria-hidden="true">&larr;</span> Newer posts
                                    </a>
                                </li>
                                <li class="next{% if not next_url %} disabled{% endif %}">
                                    <a href="{{ next_url or '#' }}">
                                        Older posts <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End of pagination of teacher comments -->
            </div>
            <!-- END EXPLORE TEACHER COMMUNITY TAB -->
        </div>
    </div>
{% endblock %}