{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- CONTENT COURSE TAB -->
            <div id="update" class="tabcontent">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>
                            {{ title }}
                            <span style="color: orange;">({{ teacher.teacher_course }})</span>
                        </h1>
                    </div>
                </div> 
                <div class="row">
                    <!-- Course Overview -->
                    <div class="row profile" id="overview">
                        <div class="col-sm-6">
                            <h2>Course Overview</h2>
                            <div class="my-form">
                                {{ wtf.quick_form(course_overview_form) }}
                            </div>
                        </div>
                        <div class="col-sm-5 text-center vertical-line">
                            <h2>Review Course Overview ({{ all_course_overview }})</h2>
                            <a href="{{ url_for('teacher.review_course_overview', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">
                                Review Course Overview
                            </a>
                        </div>
                    </div>
                    <!-- End of course overview -->

                    <!-- Table of contents -->
                    <div class="row profile" id="toc">
                        <div class="col-sm-6">
                            <h2>Table of Contents</h2>
                            <div class="my-form">
                                {{ wtf.quick_form(table_of_contents_form) }}
                            </div>
                        </div>
                        <div class="col-sm-5 text-center vertical-line">
                            <h2>Review Table of Contents ({{ all_toc }})</h2>
                            <a href="{{ url_for('teacher.review_table_of_contents', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">
                                Review ToC
                            </a>
                        </div>
                    </div>   
                    <!-- End of table of contents -->

                    <!-- Course chapters -->
                    <div class="row profile" id="chapters">
                        <div class="col-sm-6">
                            <h2>Course Chapters</h2>
                            <div class="my-form">
                                {{ wtf.quick_form(chapter_form) }}
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-line">
                            <h2>Review Course Chapters ({{ all_chapters }})</h2>
                            {% for chapter in course_chapters %}
                                <h3>{{ chapter.chapter }}</h3>
                            {% endfor %}
                            <a href="{{ url_for('teacher.review_chapters', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">
                                Review Course Chapter
                            </a>
                        </div>
                    </div>   
                    <!-- End of course chapters -->

                    <!-- Chapter Quizes -->
                    <div class="row profile" id="quiz">
                        <div class="col-sm-6">
                            <h2>Chapter Quizzes</h2>
                            <div class="my-form">
                                {{ wtf.quick_form(chapter_quiz_form) }}
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-line">
                            <h2>Review Chapter Quizzes ({{ all_chapter_quizzes }})</h2>
                            {% for quiz in all_quizzes %}
                                <h3>{{ quiz.chapter }}</h3>
                            {% endfor %}
                            <a href="{{ url_for('teacher.review_chapter_quiz', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">
                                Review Chapter Quizzes
                            </a>
                        </div>
                    </div>   
                    <!-- End of chapter quizzes -->

                    <!-- Multiple choices Quiz -->
                    <div class="row profile" id="mulitple-choice">
                        <div class="col-sm-6">
                            <h2>General Multiple Choices Quizzes</h2>
                            <div class="my-form">
                                {{ wtf.quick_form(mulitple_choice_quiz_form) }}
                            </div>
                        </div>
                        <div class="col-sm-5 vertical-line">
                            <h2>Review Multiple Choices Quizzes ({{ all_general_multiple_choice_quizzes }})</h2>
                            {% for quiz in all_multiple_quizzes %}
                                <h3>{{ quiz.chapter }}</h3>
                            {% endfor %}
                            <a href="{{ url_for('teacher.review_general_mulitiple_choices_quiz', teacher_full_name=teacher.teacher_full_name) }}" class="btn btn-primary">
                                Review General <br>Multiple Choices Quizzes
                            </a>
                        </div>
                    </div>   
                    <!-- End of multiple choices quiz -->
                </div>

            </div>
            <!-- END OF COURSE UPDATE TAB -->
        </div>
    </div>
{% endblock %}