{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- STUDENT COMMUNITY TAB -->
            <div id="student-community" class="tabcontent">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Student Community</h1>
                    </div>
                </div>

                <!-- Student comments -->
                <div class="row">
                    <div class="col-sm-12">
                        {% for comment in student_comments %}
                            {% include 'teacher/_comments_students.html' %}
                        {% endfor %}
                    </div>
                </div>
                <!-- End of student comments -->

                <!-- Pagination of teacher comments -->
                <div class="row">
                    <div class="col-sm-12">
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous{% if not student_prev_url %} disabled{% endif %}">
                                    <a href="{{ student_prev_url or '#' }}">
                                        <span aria-hidden="true">&larr;</span> Newer posts
                                    </a>
                                </li>
                                <li class="next{% if not student_next_url %} disabled{% endif %}">
                                    <a href="{{ student_next_url or '#' }}">
                                        Older posts <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End of pagination of teacher comments -->
            </div>
            <!-- END STUDENT COMMUNITY TAB -->
        </div>
    </div>
{% endblock %}