{% extends 'base.html' %}

{% block anonymous_app_content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1> {{ title }} </h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
           <!-- Empty column -->
        </div>
        <div class="col-sm-6">
            <p>
               The page you are looking for cannot be found. 
            </p>
            <p>
                <a href=" {{ url_for('auth.login') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Login to Continue
                </a>
            </p>
        </div>
        <div class="col-sm-3">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}