{% extends 'base.html' %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/404.svg')}}" class="card-img-top web-dev" alt="Web Development">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h1>An unexpected internal error has occurred</h1>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <p>
                    The administrator has been notified. Sorry for the inconvinience.
                </p>
                <p>
                    Click <a href=" {{ url_for('main.home') }} ">here</a> to return to the home page.
                </p>
            </div>
        </div>
    </div>
{% endblock %}