<table class="table table-hover">
    <tr valign='top'>
        <td width='70px'>
            <a href="{{ url_for('main.parent_profile', username=comment.author.username) }}">
                <img src=" {{ comment.author.avatar(36) }} ">
            </a>
        </td>
        <td>
            <span style="color: #b37502;">
                <a href="{{ url_for('main.parent_profile', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
            </span>
            said
            <span class="my_timestamp">
            {{ moment(comment.timestamp).fromNow() }}
            </span><br>
            <span>
                {{ comment.body }}
            </span><br><br>
            <span><a href="#">Edit</a></span>
        </td>        
    </tr>
</table>