{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4 text-center">
            <h1>Login</h1>
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
        <div class="col-md-6 text-center">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/student_login.svg')}}" alt="Forgot Password">
        </div>
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
    </div>
    <div class="row student-login-form">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4 my_form">
            {{ wtf.quick_form(form) }}
            <p>
                Forgot Password? 
                <a href="{{ url_for('auth.student_request_password_reset') }}">Reset Here</a>
            </p>
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
{% endblock %}