{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Client Registration</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4 my_form">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
{% endblock %}