{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row title">
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
        <div class="col-md-6 my-tab">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#schedule" aria-controls="basics" role="tab" data-toggle="tab">Schedule</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Content &#9662;
                        </a>
                        <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#topic1" aria-controls="wdev" role="tab" data-toggle="tab">Variables</a><br>
                        <a class="dropdown-item" href="#topic2" aria-controls="wdev" role="tab" data-toggle="tab">Lists</a><br>
                        <a class="dropdown-item" href="#topic3" aria-controls="wdev" role="tab" data-toggle="tab">Functions</a><br>
                        </div>
                    </li>
                  <li role="presentation"><a href="#participants" aria-controls="wdev" role="tab" data-toggle="tab">Participants</a></li>
                  <li role="presentation"><a href="#video_call" aria-controls="dan" role="tab" data-toggle="tab">Video Call</a></li>
                  <li role="presentation"><a href="#achievement" aria-controls="dan" role="tab" data-toggle="tab">Achievements</a></li>
                </ul>
            </div>
        </div> 
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
    </div>
    <!-- Course Content will go here -->
    <div class="row">
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="schedule">
                    <h1 class="mt-2 text-center">Schedule</h1>
                    <table class="table">
                        <tr valign='top'>
                            <th>May 7th, 2021</th>
                            <th>May 8th, 2021</th>
                            <th>May 9th, 2021</th>
                            <th>May 10th, 2021</th>
                            <th>May 11th, 2021</th>
                            <th>May 12th, 2021</th>
                        </tr>
                        <tr>
                            <td>Variables and Data Types</td>
                            <td> Lists_Part 1</td>
                            <td>Lists_Part 2</td>
                            <td>IF Statements_Part 1</td>
                            <td>IF Statements_Part 2</td>
                            <td>Intro to Turtle Graphics</td>
                        </tr>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic1">
                    <h1 class="mt-2">Variables</h1>
                    <p>
                        Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan 
                        american apparel, butcher voluptate nisi qui. Raw denim you probably 
                        haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, 
                        retro synth master cleanse. Mustache cliche tempor, williamsburg carles 
                        vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic2">
                    <h1 class="mt-2">Lists</h1>
                    <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis 
                        cardigan american apparel, butcher voluptate nisi qui. 
                        Raw denim you probably haven't heard of them jean shorts Austin. 
                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. 
                        Mustache cliche tempor, williamsburg carles vegan helvetica. R
                        eprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic3">
                    <h1 class="mt-2">Functions</h1>
                    <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis 
                        cardigan american apparel, butcher voluptate nisi qui. 
                        Raw denim you probably haven't heard of them jean shorts Austin. 
                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. 
                        Mustache cliche tempor, williamsburg carles vegan helvetica. R
                        eprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="participants">
                    <h1 class="mt-2 text-center">Participants</h1><br>
                    <table class="table">
                        <tr valign='top'>
                            <th>Avatar</th>
                            <th>Student Name</th>
                            <th>Student Email</th>
                            <th>Verifiction Phone</th>
                            <th>Last Seen</th>
                        </tr>
                        {% for client in clients %}
                            {% include 'courses/signed_up_user_courses/_python_participants.html' %}
                        {% endfor %}
                    </table>
                </div>
            
                <div role="tabpanel" class="tab-pane fade" id="video_call">
                    <h1 class="mt-2">Video Call</h1>
                    <p>
                        Link to join the class video call will go here. A student can
                        also create his own call and invite others to join the call.
                    </p>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="achievement">
                    <h1 class="mt-2">Achievements</h1>
                    <p>
                        The rubric to determine how well a student performed in the class
                        will be found here. A student will fill his own rubic, and that 
                        data will be stored in the database and used for learning analytics.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Comments Section -->
            <h1 id="comments">{{ total_comments }} Comments</h1>
            <!-- Comments list -->
            {% for comment in comments %}
                {% include 'comments/_client_comment.html' %}
            {% endfor %}
            <!-- Pagination Links -->
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer Comments
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older Comments <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Comment form -->
            <div class="my_form">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div> 
{% endblock %}