{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block student_app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">
    <div class="col-sm-12 student-content-title">
        <h1>{{ title }}</h1>
        <p>
            You can only take this quiz once.
            You will be redirected to <strong>the fifth quiz</strong>.
        </p>
    </div>
</div>
<div class="row" id="quizzes">
    <div class="col-sm-12">
        {% for quiz in quizzes %}
            {% if quiz.chapter.lower() == 'chapter 2: flask templates' %}
            <div class="row my-form quiz-form" id="{{ quiz_1 }}">
                <div class="col-sm-6 col-sm-6">
                    <p>{{ quiz.quiz_4 }}</p>
                    <p>
                    {{  wtf.quick_form(quiz_4_form) }}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}