<p>Dear {{ parent.parent_full_name }},</p>
<p>
    These are your registration details:
</p>
<ul>
    <li>Full Name: {{ parent.parent_full_name }}</li>
    <li>Email: {{ parent.parent_email }}</li>
    <li>Phone: {{ parent.parent_phone }}</li>
    <li>Occupation: {{ parent.parent_occupation }}</li>
    <li>Residence: {{ parent.parent_residence }}</li>
</ul>
<p>
    Kindly click the login button below to access your parent dashboard:<br><br>
    <button type="button" class="btn btn-primary">
        <a href="{{ url_for('auth.login_parent', _external=True) }}" class="btn btn-primary">Login to Parent Dashboard</a>
    </button>
</p>
<p>Sincerely,</p>
<p>The somasoma eLearning Team</p>