/* General */
body{
    font-family: 'Roboto', sans-serif;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
a:hover {
    text-decoration: none;
    color: rgb(141, 92, 1);
}
a:visited {
    color: green;
}
a:visited:hover {
    color: rgb(141, 92, 1);
}

/* Forms */
.my_form{
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 3px;
    margin: 20px;
}
#_verification_phone {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 6px;
}
.registration-form {
    margin-bottom: 69px;
}

/* Images */
.img{
    /* box-shadow: 5px 5px 5px#E6E6E6; */
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/* Buttons */
.btn{
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #fff;
    font-size: 15px;
    color: #706d6c;
}
.btn:hover{
    background-color: #f2f2f2;
    color:  #706d6c;
    border: 1px solid  #f2f2f2;
}

/* Cards */
.card{
    border: 1px solid #d6d4d3;
    border-radius: 5px;
    padding:5px;
    text-align: center;
    margin: 5px;
    box-shadow: 5px 5px 5px#E6E6E6;
}
.card:hover{
    box-shadow: 5px 10px 18px #ebe6e3;
}
.card li {
    text-align: left;
}

/* Permanent Actions */
.deactivate-warning {
    border: 1px solid #A9F5A9;  
    background-color: #A9F5A9;
    margin-right: 1px;
}
.danger-warning {
    border: 1px solid #F5A9A9;    
    background-color: #F5A9A9;
    margin-left: 1px;
}
.danger-warning, .deactivate-warning {
    border-radius: 3px;
    padding: 5px;  
}

/* Dropdown */

/* --- desktop view --- */

/* Profile */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

/* Courses */
@media all and (min-width: 992px) {
	.nav-item .dropdown-menu{ display: none; }
	.nav-item:hover .nav-link{   }
	.nav-item:hover .dropdown-menu{ display: block; }
	.nav-item .dropdown-menu{ margin-top:0; }
}	

/* --- desktop view .end// --- */

/* Tabs */
.my-tab {
    margin: 20px;
    margin-top: 0px;
}
#overview, #topic1, #topic2, #topic3, #participants, #video_call {
    background-color: rgb(241, 241, 241);
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_content {
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.2);
    z-index: 1;
}

/* FOOTER */
.my-footer{
    margin-bottom: 0px;
    position: absolute;
    bottom: -40;
    width: 100%;
    /* height: 200px; */
}
.my-footer img {
    padding: 0px;
    margin: 0px;
}

/* HOME PAGE */
.hero, .about, .courses, .overview, .who-is-it-for {
    margin-bottom: 160px;
}
.hero h1, .about h1, #explore h1, .title h1, .overview h3, .who-is-it-for h3 {
    font-weight: 800;
}

/* Hero section */
.hero {
    margin-top: 100px;
}
.hero h1 {
    font-size: 60px;
    padding-left: 50px;
}
.hero button {
    margin-left: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.hero button:hover {
    background-color: orange;
    color: black;
}
.hero span {
    color: orange;
}

/* About Section */


/* Courses Section */
.registration {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
}
.registration-cards {
    margin-bottom: 160px;
}
.parent-registration-form {
    margin-bottom: 70px;
}

/* User Login */
.hero-login {
    margin-top: 0px;
}
.login {
    margin-bottom: 352px;
}
.parent-login-form {
    margin-bottom: 117px;
}
.student-login-form {
    margin-bottom: 97px;
}
.teacher-login-form {
    margin-bottom: 116px;
}
.user-reset-password {
    margin-top: 63px;
    margin-bottom: 200px;
}
.received-token {
    margin-bottom: 514px;
}