{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1> {{ title }} </h1>
        </div>
    </div>
    {% for objective in objectives %}
        <div class="row objective">
            <div class="col-sm-4">
                <p>
                    <a href=" {{ url_for('profile_student', student_full_name=objective.author.student_full_name) }} ">
                    <img src=" {{ objective.author.avatar_student(70) }}  ">
                </a>
                <span>
                    <a href=" {{ url_for('profile_student', student_full_name=objective.author.student_full_name) }} ">
                        {{ objective.author.student_full_name }}
                    </a>
                </span> status
                {{ moment(objective.timestamp).fromNow() }}
                </p>
            </div>
            <div class="col-sm-8">
                <!-- Achievement -->
                <div class="row">
                    <div class="col-sm-12">
                        <li>
                            You can understand what HTML is used for in a web application: 
                            {% if objective.objective_1 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_1 }} 
                                </span>
                            {% elif objective.objective_1 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_1 }} 
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can create an empty HTML page: 
                            {% if objective.objective_2 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_2 }}
                                </span>
                            {% elif objective.objective_2 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_2 }}
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can add the general syntax of a HTML page: 
                            {% if objective.objective_3 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_3 }}
                                </span>
                            {% elif objective.objective_3 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_3 }}
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can add the head section of a HTML page: 
                            {% if objective.objective_4 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_4 }}
                                </span>
                            {% elif objective.objective_4 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_4 }}
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can add the body section of a HTML page: 
                            {% if objective.objective_5 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_5 }}
                                </span>
                            {% elif objective.objective_5 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_5 }}
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can understand the basic tags used in HTML: 
                            {% if objective.objective_6 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_6 }}
                                </span>
                            {% elif objective.objective_6 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_6 }}
                                </span>
                            {% endif %}
                        </li>
                        <li>
                            You can add comments to a HTML page: 
                            {% if objective.objective_7 == False %}
                                <span class="label label-warning">
                                    {{ objective.objective_7 }}
                                </span>
                            {% elif objective.objective_7 == True %}
                                <span class="label label-info">
                                    {{ objective.objective_7 }}
                                </span>
                            {% endif %}
                        </li>
                    </div>
                </div>
                <!-- End of achievement -->
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
        <div class="col-sm-4 text-center">
            <p>
                <a href=" {{ url_for('web_development_chapter_1', _anchor='objectives') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Chapter 1
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}