{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block admin_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 admin-content-title">
            <h1>All Teachers ({{ all_teachers }})</h1>
        </div>
    </div>
    <!-- ALL TEACHERS TAB -->
    <div id="teachers" class="tabcontent">
        <div class="row">
            <!-- List all teachers -->
            <div class="row">
                <div class="col-sm-12">
                    <table id="data" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Residence</th>
                                <th>Course</th>
                                <th>Last Seen On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                                <tr>
                                    <td>{{ teacher.id }}</td>
                                    <td>{{ teacher.teacher_full_name }}</td>
                                    <td>{{ teacher.teacher_email }}</td>
                                    <td>{{ teacher.teacher_phone }}</td>
                                    <td>{{ teacher.teacher_residence }}</td>
                                    <td>{{ teacher.teacher_course }}</td>
                                    <td>{{ moment(teacher.teacher_last_seen).format('LLL') }}</td>
                                    <td>
                                        <span class="btn label label-danger">
                                            <a href="{{ url_for('admin.delete_account_teacher', admin_full_name=admin.admin_full_name, teacher_id=teacher.id) }}">Delete</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of listing all teachers -->
            <!-- Add new teachers -->
            <div class="row admin-teacher">
                <div class="col-sm-6">
                    <h2>Add New Teacher</h2>
                    <div class="my-form">
                        {{ wtf.quick_form(teacher_form) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Empty column -->
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ALL TEACHERS TAB -->
{% endblock %}

{% block datatable_scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
{% endblock %}