{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block admin_app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row text-center">
        <div class="col-sm-12 admin-content-title">
            <h1>All Parents ({{ all_parents }})</h1>
        </div>
    </div>
    <!-- ALL PARENTS TAB -->
    <div id="parents" class="tabcontent">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Occupation</th>
                            <th>Residence</th>
                            <th>Last Seen On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parent in parents %}
                            <tr>
                                <td>{{ parent.id }}</td>
                                <td>{{ parent.parent_full_name }}</td>
                                <td>{{ parent.parent_email }}</td>
                                <td>{{ parent.parent_phone }}</td>
                                <td>{{ parent.parent_occupation }}</td>
                                <td>{{ parent.parent_residence }}</td>
                                <td>{{ moment(parent.parent_last_seen).format('LLL') }}</td>
                                <td>
                                    <span class="label label-danger">
                                        <a href="{{ url_for('admin.delete_account_parent', parent_id=parent.id) }}">Delete</a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END OF ALL PARENTS TAB -->
{% endblock %}