{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block admin_app_content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>

        <div class="col-sm-4 my-form">
            {{ wtf.quick_form(form) }}
        </div>

        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <!-- Empty columns -->
        </div>
        <div class="col-sm-4">
            <p>
                <a href=" {{ url_for('admin.dashboard_account') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Account
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <!-- Empty columns -->
        </div>
    </div>
{% endblock %}