{% extends 'base.html' %}

{% block student_app_content %}
<div class="row">
    <div class="col-sm-12 student-content-title">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Your Answer</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}                
                    <tr>

                        <td>{{ quiz.quiz_1 }}</td>
                        
                        <td>{{ student.webdev_chapter1_quiz_1_options.answer }}</td>
                        <td>{{ quiz_1_score }}</td>
                    </tr>
                {% endfor %}
                {% for quiz in quizzes %}                
                    <tr>

                        <td>{{ quiz.quiz_2 }}</td>
                        
                        <td>{{ student.webdev_chapter1_quiz_2_options.answer }}</td>
                        <td>{{ quiz_2_score }}</td>
                    </tr>
                {% endfor %}
                {% for quiz in quizzes %}                
                    <tr>

                        <td>{{ quiz.quiz_3 }}</td>
                        
                        <td>{{ student.webdev_chapter1_quiz_3_options.answer }}</td>
                        <td>{{ quiz_3_score }}</td>
                    </tr>
                {% endfor %}
                {% for quiz in quizzes %}                
                    <tr>

                        <td>{{ quiz.quiz_4 }}</td>
                        
                        <td>{{ student.webdev_chapter1_quiz_4_options.answer }}</td>
                        <td>{{ quiz_4_score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="col-sm-12">
        <p>Total Score: {{ total_score }}</p>
        <p>Achievemnt Rate: {{ total_score_percentage }}%</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>
            <a href=" {{ url_for('student.web_development_chapter_2', student_full_name=student.student_full_name) }} " class="btn btn-primary">
                Chapter 2
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
        </p>
    </div>
</div>
{% endblock %}