{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row title">
        <div class="col-md-12 text-center">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Comments Section -->
            <h1 id="comments">{{ total_comments }} Comments</h1>
            <!-- Comments list -->
            {% for comment in comments %}
                {% include 'comments/_student_comment.html' %}
            {% endfor %}
            <!-- Pagination Links -->
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer Comments
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older Comments <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Comment form -->
            {{ wtf.quick_form(form) }}
        </div>
    </div> 
{% endblock %}