{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Flash message -->
<div class="row">
    <div class="col-sm-12">
        {% include '_flash_message.html' %}
    </div>
</div>
<!-- End of flash message -->
<div class="row">

    <!-- Start of sidebar -->
    <div class="col-sm-2 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'account')" id="defaultOpen">
                Admin Account
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'students')">
                All Students
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'teachers')">
                All Teachers
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'parents')">
                All Parents
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'courses')">
                Courses
            </a>
        </div>   
    </div>
    <!-- End of sidebar -->
    
    <!-- Start of tab contents -->
    <div class="col-sm-10 ">

        <!-- ADMIN ACCOUNT TAB -->
        <div id="account" class="tabcontent">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Admin Account</h1>
                    </div>
                </div>
                <div class="row profile">
                    <div class="col-sm-12">
                        <h2>Profile</h2>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src=" {{ current_user.avatar_admin(128) }} ">
                            </div>
                            <div class="col-sm-9">
                                <p>
                                    Your Full Name: <span style="font-weight: 600;">{{ current_user.admin_full_name }}</span> 
                                </p>
                                <p>
                                    Email: <span style="font-weight: 600;">{{ current_user.admin_email }}</span> 
                                </p>
                                <p>
                                    Phone: <span style="font-weight: 600;">{{ current_user.admin_phone }}</span> 
                                </p>
                                {% if current_user.admin_about_me %}
                                    <p>
                                        About me: <span style="font-weight: 600;">{{ current_user.admin_about_me }}</span>
                                    </p>
                                {% endif %}
                                {% if current_user.admin_last_seen %}
                                    <p>
                                        Last seen on: <span style="font-weight: 600;">{{ moment(current_user.admin_last_seen).format('LLL') }}</span>
                                    </p>
                                {% endif %}                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row update-account">
                    <div class="col-sm-12">
                        <h2>Update Account Details</h2>
                        <div class="col-sm-12">
                            <p>
                                Update your admin bio information <br>                            
                            </p>
                            <p>
                                <a href=" {{ url_for('admin.edit_profile_admin') }} " class="btn btn-primary">Update Bio</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row two-factor-auth">
                    <div class="col-sm-12">
                        <h2>Two-Factor Authentication</h2>
                        <p>
                            Add an extra layer of security to your account by enabling two-factor authentication.
                        </p>
                        {% if not current_user.two_factor_admin_enabled() %}
                            <p>
                                <a href=" {{ url_for('auth.enable_2fa_admin', admin_full_name=admin.admin_full_name) }} " class="btn btn-primary">Enable Two-Factor Authentication</a>
                            </p>
                        {% else %}
                            <p>
                                <a href=" {{ url_for('auth.disable_2fa_admin', admin_full_name=admin.admin_full_name) }} " class="btn btn-primary">Disable Two-Factor Authentication</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF ADMIN ACCOUNT TAB -->

        <!-- ALL STUDENTS TAB -->
        <div id="students" class="tabcontent">
            <div class="row">
                <h1>All Students ({{ all_students }})</h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age</th>
                                <th>School</th>
                                <th>Course</th>
                                <th>Last Seen On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.student_full_name }}</td>
                                    <td>{{ student.student_email }}</td>
                                    <td>{{ student.student_phone }}</td>
                                    <td>{{ student.student_age }}</td>
                                    <td>{{ student.student_school }}</td>
                                    <td>{{ student.student_course }}</td>
                                    <td>{{ moment(student.student_last_seen).format('LLL') }}</td>
                                    <td>
                                        <span class="label label-danger">
                                            <a href="{{ url_for('admin.delete_account_student', student_id=student.id) }}">Delete</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END ALL STUDENTS TAB -->

        <!-- ALL TEACHERS TAB -->
        <div id="teachers" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>All Teachers ({{ all_teachers }})</h1>
                </div>
            </div>
            <div class="row">
                <!-- List all teachers -->
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped admin-teacher">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Residence</th>
                                    <th>Course</th>
                                    <th>Last Seen On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <td>{{ teacher.id }}</td>
                                        <td>{{ teacher.teacher_full_name }}</td>
                                        <td>{{ teacher.teacher_email }}</td>
                                        <td>{{ teacher.teacher_phone }}</td>
                                        <td>{{ teacher.teacher_residence }}</td>
                                        <td>{{ teacher.teacher_course }}</td>
                                        <td>{{ moment(teacher.teacher_last_seen).format('LLL') }}</td>
                                        <td>
                                            <span class="label label-danger">
                                                <a href="{{ url_for('admin.delete_account_teacher', teacher_id=teacher.id) }}">Delete</a>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End of listing all teachers -->
                <!-- Add new teachers -->
                <div class="row admin-teacher">
                    <div class="col-sm-6">
                        <h2>Add New Teacher</h2>
                        <div class="my-form">
                            {{ wtf.quick_form(teacher_form) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- Empty column -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF ALL TEACHERS TAB -->

        <!-- ALL PARENTS TAB -->
        <div id="parents" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>All Parents ({{ all_parents }})</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Occupation</th>
                                <th>Residence</th>
                                <th>Last Seen On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for parent in parents %}
                                <tr>
                                    <td>{{ parent.id }}</td>
                                    <td>{{ parent.parent_full_name }}</td>
                                    <td>{{ parent.parent_email }}</td>
                                    <td>{{ parent.parent_phone }}</td>
                                    <td>{{ parent.parent_occupation }}</td>
                                    <td>{{ parent.parent_residence }}</td>
                                    <td>{{ moment(parent.parent_last_seen).format('LLL') }}</td>
                                    <td>
                                        <span class="label label-danger">
                                            <a href="{{ url_for('admin.delete_account_parent', parent_id=parent.id) }}">Delete</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END OF ALL PARENTS TAB -->

        <!-- ALL COURSES TAB -->
        <div id="courses" class="tabcontent">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Courses Offered ({{ all_courses }})</h1>
                </div>
            </div>
            <!-- Courses -->
            <div class="row courses" id="courses-offerings">
                {% for course in courses %}
                <div class="col-sm-4">
                    <div class="card-deck">
                        <div class="card">
                            <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{ course.course_image }}" alt="Flask Class">
                            <div class="card-body">
                                <div class="text-center">
                                    <h2 class="card-title">{{ course.title }}</h2>
                                    <hr>
                                    <p class="card-text">
                                        {{ course.body }}
                                    </p>
                                    <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ course.id }}">
                                            Learn More
                                        </button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h2 class="modal-title text-center" id="{{ course.id }}">{{ course.title }}</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center">
                                                    <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{course.course_image}}" alt="{{ course.title }}">
                                                </div>
                                                <h3>Overview</h3>
                                                <p>{{ course.overview }}</p>
                                                <h3>Next Class: {{ course.next_class_date }}</h3>
                                                <a class="btn btn-primary" href="{{ course.link }} ">Explore</a>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Modal -->
                            </div>            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if not course.allowed_status == 1 %}
                                <a href=" {{ url_for('admin.allow_course', course_id=course.id) }} " class="label label-warning">Allow</a>
                            {% else %}
                                <a href="#" class="label label-success">Allowed</a></a>
                            {% endif %}
                            | <a href=" {{ url_for('admin.delete_course', course_id=course.id) }} " class="label label-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div  class="col-sm-12">
                    <!-- Pagination of comments -->
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&#60;</span> Less
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    More <span aria-hidden="true">&#62;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of pagination of comments -->
                </div>
            </div>
            <div class="row courses">
                <div class="col-sm-6 my-form">
                    {{ wtf.quick_form(course_form) }}
                </div>
                <div class="col-sm-6">
                    <!-- Empty column -->
                </div>
            </div>
        </div>
        <!-- END OF COURSES TAB -->

    </div>
    <!-- End of tab contents -->

</div>
{% endblock %}