{% extends 'bootstrap/base.html' %}

<!-- Head image goes here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/eLearning.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
{% endblock %}

{% block title %}
    {% if title %}
       {{ title }} - Somasoma eLearning
    {% else %}
        Welcome to Somasoma eLearning
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Somasoma eLearning</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                   
                <ul class="nav navbar-nav navbar-right"> 
                        {% if current_user.is_anonymous %}                   
                            <li><a href="#about">About</a></li>
                            <li><a href="#expore">Courses</a></li>
                            <li><a href="#contact">Contact</a></li>
                        {% else %}
                            {% if parent %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('parent_profile', username=parent.username) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile &#9662;
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% elif student %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('student_profile', username=student.username) }}" data-bs-toggle="dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile &#9662;
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% elif teacher %}                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('teacher_profile', username=teacher.username) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile &#9662;
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% endif %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>           
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   <div class="alert alert-info" role='alert'>
                       {{ message }}
                   </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
    {% if current_user.is_anonymous %}
        {% block footer %}    
            <nav class="my-footer navbar navbar-default" id="contact">
                <div class="container">   
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="text-center"><strong>Address</strong></h5>
                            <p>
                                Nairobi Garage,<br>
                                Ngong Road 
                                Nairobi, Kenya
                            </p>
                        </div> 
                        <div class="col-md-4">
                            <h5 class="text-center"><strong>Careers</strong></h5>
                            <p>
                                Teaching<br>
                                Software Development
                            </p>
                        </div> 
                        <div class="col-md-4 text-center">
                            <h5 class="text-center"><strong>Social Media</strong></h5>
                            <a href="" target="_blank">
                                <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/instagram.svg')}}" alt="Instagram">
                            </a>    
                            <a href="" target="_blank">
                                <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/facebook.png')}}" alt="Facebook">
                            </a>    
                            <a href="" target="_blank">
                                <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/youtube.png')}}" alt="YouTube">
                            </a>
                        </div> 
                    </div><hr>
                    <div class="row">
                        <div class="col-md-12 text-center">
                                &#169; {{ moment().format('YYYY') }}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
    <script>
        $("#verification_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
        $("#verification_phone").parent().append('<div><input type="tel" id="_verification_phone"></div>');
        $("#_verification_phone").intlTelInput({
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
        });
        $("#_verification_phone").intlTelInput("setNumber", $('#verification_phone').val());
        $('#_verification_phone').blur(function() {
            $('#verification_phone').val($('#_verification_phone').intlTelInput("getNumber"));
        });
    </script>
{% endblock %}