{% extends 'bootstrap/base.html' %}

<!-- Head image goes here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/eLearning.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
{% endblock %}

{% block title %}
    {% if title %}
       {{ title }} - Somasoma eLearning
    {% else %}
        Welcome to Somasoma eLearning
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Somasoma eLearning</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
                    <ul class="nav navbar-nav navbar-right"> 
                        {% if current_user.is_anonymous %}                   
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                        {% else %}
                            {% if parent %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('parent_profile', username=parent.username) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile<img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='images/dropdown.png') }}">
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% elif student %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('student_profile', username=student.username) }}" data-bs-toggle="dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile<img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='images/dropdown.png') }}">
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% elif teacher %}                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{ url_for('teacher_profile', username=teacher.username) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Profile<img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='images/dropdown.png') }}">
                                    </a>
                                    <div class="dropdown-menu dropdown_content" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">All Your Posts</a><br>
                                      <a class="dropdown-item" href="#">Followed Users</a><br>
                                      <a class="dropdown-item" href="#">Explore All Users</a><br>
                                    </div>
                                </li>
                            {% endif %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>           
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   <div class="alert alert-info" role='alert'>
                       {{ message }}
                   </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}