{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr valign='top'>
                <td><img src="{{ current_user.avatar(128) }}"></td>
                <td>
                    <h1>User: {{ client.student_username }}</h1>
                    {% if current_user.about_me %}
                        <p>
                            {{ client.about_me }}
                        </p>
                    {% endif %}
                    {% if current_user.last_seen %}
                        <p>
                            Last seen on: {{ moment(client.last_seen).format('LLL') }}
                        </p>
                    {% endif %}
                    {% if current_user == client %}
                        {% if not current_user.two_factor_enabled() %}
                            <p>
                                <a href="{{ url_for('auth.client_enable_2fa', username=current_user.student_username) }}">Enable two-factor authentication</a>
                            </p>
                        {% else %}
                            <p>
                                <a href="{{ url_for('auth.client_disable_2fa', username=current_user.student_username) }}">Disable two-factor authentication</a>
                            </p>
                        {% endif %}
                        {% if current_user %}
                            <p>
                                <a href="{{ url_for('main.edit_client_profile', username=current_user.student_username) }}">
                                    Edit your profile
                                </a>
                            </p>
                            <p>
                                <span class="danger-warning">
                                    <a href="{{ url_for('admin.delete_client_account', username=current_user.student_username) }}">Delete Account Permanently</a>
                                </span>
                            </p>
                        {%endif%}
                    {% endif %}
                </td>                
            </tr>
        </table><hr>
    </div>
</div>
{% endblock %}