{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4 text-center">
            <h1>Enable 2FA</h1>
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
        <div class="col-md-6 text-center">
            <p>
                Two-factor authentication helps secure your account in the event
                that it is compromised. You will need to add the token sent
                to your personal phone number before you can access your account.
            </p>
        </div>
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
        <div class="col-md-6 text-center">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/2fa.svg')}}" alt="Forgot Password">
        </div>
        <div class="col-md-3">
            <!-- Empty col -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4 my_form">
            {{ wtf.quick_form(form) }}            
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
{% endblock %}