{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <!--  -->
        </div>
        <div class="col-md-4 text-center">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/payment_successful.svg')}}" alt="Payment Successful">
        </div>
        <div class="col-md-4">
            <!--  -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!--  -->
        </div>
        <div class="col-md-4">
            <p>Your payment was successful.</p>
            <p>Continue to the <a href="{{ url_for('login') }}">login page</a>.</p>
        </div>
        <div class="col-md-4">
            <!--  -->
        </div>
    </div>
{% endblock %}