{% extends "base.html" %}

{% block app_content %}    
    <div class="row registration-cards purchase-page">
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
        <div class="col-md-4">
            <!-- Scratch Jr Card -->
            <div class="card-deck">
              <div class="card">
                <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/scratchjr.png')}}" alt="Scratch Jr">
                <div class="card-body">
                  <h3 class="card-title">Python</h3><hr>
                  <div class="card-text">
                    <p>
                        Enrol your child in the Python course you selected during registration
                      </p>
                  </div>
                  <button class="button is-primary" id="purchaseBtn">Enrol Your Child</button>
                </div>            
              </div>
              <!-- End of Scratch Jr Card -->
            </div>
        </div>
        <div class="col-md-4">
            <!-- Empty col -->
        </div>
    </div>
{% endblock %}