{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr valign='top'>
                <td><img src="{{ teacher.avatar(128) }}"></td>
                <td>
                    <h1>User: {{ teacher.username }}</h1>
                    {% if teacher.about_me %}
                        <p>
                            {{ teacher.about_me }}
                        </p>
                    {% endif %}
                    {% if teacher.last_seen %}
                        <p>
                            Last seen on: {{ moment(teacher.last_seen).format('LLL') }}
                        </p>
                    {% endif %}
                    {% if teacher %}
                        <p>
                            <a href="{{ url_for('edit_teacher_profile', username=teacher.username) }}">
                                Edit your profile
                            </a>
                        </p>
                    {%endif%}
                    {% if not teacher.two_factor_enabled() %}
                        <p>
                            <a href="{{ url_for('teacher_enable_2fa', username=teacher.username) }}">Enable two-factor authentication</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ url_for('teacher_disable_2fa', username=teacher.username) }}">Disable two-factor authentication</a>
                        </p>
                    {% endif %}
                    <p>
                        <span class="danger-warning">
                            <a href="{{ url_for('delete_teacher_account', username=teacher.username) }}">Delete Account Permanently</a>
                        </span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}