{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ title }} ({{ all_toc }})</h1>
        </div>
    </div>
    <div class="row profile">
        <div class="col-sm-12">
            <h2>Table of Contents</h2>
            {% for toc in course_toc %}
                {% if toc.title.lower() == teacher.teacher_course.lower() %}
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <a href="{{ toc.link }}">{{ toc.chapter }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if not toc.allowed_status == 1 %}
                                <a href="{{ url_for('teacher.allow_table_of_contents', chapter=toc.chapter) }}" class="label label-warning">Allow</a>
                            {% else %}
                                <a href="#" class="label label-success">Allowed</a>
                            {% endif %}
                            | <a href="{{ url_for('teacher.delete_table_of_contents', chapter=toc.chapter) }}" class="label label-danger">Delete</a>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not course_toc_prev_url %} disabled{% endif %}">
                                <a href="{{ course_toc_prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> Newer posts
                                </a>
                            </li>
                            <li class="next{% if not course_toc_next_url %} disabled{% endif %}">
                                <a href="{{ course_toc_next_url or '#' }}">
                                    Older posts <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End of pagination -->
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-sm-6">
            <p>
                <a href=" {{ url_for('teacher.dashboard_teacher') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Dashboard
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <a href=" # " class="btn btn-primary">
                    Chapter 1
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
{% endblock %}