{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center review-title">
            <h1>{{ title }} ({{ all_chapters }})</h1>
        </div>
    </div>
    {% for chapter in course_chapters %}
        <div class="row blog">
            <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-7 text-left">
                            <h1>{{ chapter.chapter }}</h1>
                        </div>
                        <div class="col-sm-5 text-right">
                            <p>{{ moment(chapter.timestamp).format('LLL') }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Overview</h2>
                            <p>{{ chapter.overview }}</p>
                            
                            <!-- Table of contents -->
                            <div class="row table-of-content">
                                <div class="col-sm-12">
                                    <h2>Table of Contents</h2>
                                    {% for toc in toc_chapters %}
                                        {% include 'teacher/course/flask/_table_of_contents.html' %}
                                    {% endfor %}
                                </div>
                            </div>

                            <h2>What You Will Accomplish</h2>
                            <p>{{ chapter.accomplish }}</p>
                            <div class="youtube embed-responsive embed-responsive-16by9">
                                <iframe class="youtube embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ chapter.youtube_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <h2>Lesson Objectives</h2>
                            <ul>
                                <li>{{ chapter.objective_1 }}</li>
                                <li>{{ chapter.objective_2 }}</li>
                                <li>{{ chapter.objective_3 }}</li>
                                <li>{{ chapter.objective_4 }}</li>
                                <li>{{ chapter.objective_5 }}</li>
                            </ul>

                            <h2>Getting Started</h2>
                            <p>Content will go here</p>

                            <h2>Conclusion</h2>
                            <p>{{ chapter.conclusion }}</p>
                        </div>
                        <hr>
                        <div class="student_feedback" id="objectives">
                
                            <!-- Lesson objectives form -->
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <h2>Achievement of Lesson Goals</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <!-- Empty column -->
                                </div>
                                <div class="col-sm-6 my-form">
                                    <!-- Objectives form will go here -->
                                    <ul>
                                        <li>{{ chapter.objective_1 }}</li>
                                        <li>{{ chapter.objective_2 }}</li>
                                        <li>{{ chapter.objective_3 }}</li>
                                        <li>{{ chapter.objective_4 }}</li>
                                        <li>{{ chapter.objective_5 }}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <!-- Empty column -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul>
                                        <li>
                                            Live chapter link: 
                                            <span style="color: #3b7aae;">
                                                {{ chapter.chapter_link }}
                                            </span>
                                        </li>
                                        <li>
                                            Comment moderation link: 
                                            <span style="color: #3b7aae;">
                                                {{ chapter.comment_moderation_link }}
                                            </span>
                                        </li>
                                        <li>
                                            Link to Quiz 1 of the chapter: 
                                            <span style="color: #3b7aae;">
                                                {{ chapter.chapter_quiz_1_link }}
                                            </span>
                                        </li>
                                        <li>
                                            YouTube Video Code: 
                                            <span style="color: #3b7aae;">
                                                {{ chapter.youtube_link }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End of lesson objectives form -->
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if not chapter.allowed_status == 1 %}
                                <a href="{{ url_for('teacher.allow_chapters', teacher_full_name=teacher.teacher_full_name, chapter=chapter.chapter) }}" class="btn label label-warning">Allow</a>
                            {% else %}
                                <a href="#" class="btn disabled label label-success">Allowed</a>
                            {% endif %}
                            | <a href="{{ url_for('teacher.delete_chapters', teacher_full_name=teacher.teacher_full_name, chapter=chapter.chapter) }}" class="btn label label-danger">Delete</a>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}
    <!-- Pagination -->
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not course_chapters_prev_url %} disabled{% endif %}">
                        <a href="{{ course_chapters_prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer posts
                        </a>
                    </li>
                    <li class="next{% if not course_chapters_next_url %} disabled{% endif %}">
                        <a href="{{ course_chapters_next_url or '#' }}">
                            Older posts <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End of pagination -->
    <hr>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>
                <a href=" {{ url_for('teacher.dashboard_manage_course', teacher_full_name=teacher.teacher_full_name, _anchor='chapters') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Course Management
                </a>
            </p>
        </div>
    </div>
{% endblock %}