{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12 text-center review-title">
            <h1>{{ title }} ({{ all_toc }})</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Chapter</th>
                        <th>Course</th>
                        <th>Allowed</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for toc in course_toc %}
                        {% if toc.title.lower() == teacher.teacher_course.lower() %}
                            <tr>
                                <td>{{ toc.chapter }}</td>
                                <td>{{ toc.title }}</td>
                                <td>
                                    {% if not toc.allowed_status == 1 %}
                                        <a href="{{ url_for('teacher.allow_table_of_contents', chapter=toc.chapter) }}" class="label label-warning">Allow</a>
                                    {% else %}
                                        <a href="#" class="label label-success">Allowed</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('teacher.delete_table_of_contents', chapter=toc.chapter) }}" class="label label-danger">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-sm-12">
            <p>
                <a href=" {{ url_for('teacher.dashboard_manage_course', _anchor='toc') }} " class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Course Management
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block datatable_scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
{% endblock %}